<div class="fr-banner"> 
  <div class="fr-banner-left">
    <h4 class="fr-banner-title">
      <a class="fr-title-minor" title="FireREST content source"  target="_blank"
	href="https://github.com/firepick1/FireREST/wiki/{{config.FireREST.provider}}-content">{{config.FireREST.title}}</a>
      <br>
      <div class="fr-title-major" onclick="$('nav').toggle();" title="{{bannerTitle}}">
        <span class="glyphicon {{bannerIcon}}"></span> {{bannerName}} &#9660; <a target="_blank" class="fr-help" href="{{bannerUrl}}">?</a>
      </div> 
    </h4>
    <nav class="fr-nav-menu">
      <div class="fr-nav-dismiss" onclick="$('nav').toggle();"></div>
      <ul class="nav">
	<li><a href="../cv" title="FireREST/CV Computer Vision"> <span 
	  class="glyphicon glyphicon-camera"></span> CV Computer Vision Service</a>
	<li><a href="../cnc" title="FireREST/CNC Machine Control"><span 
	  class="glyphicon glyphicon-play-circle"></span> CNC Machine Control Service</a>
	<li><a href="../vcal" title="FireREST/CAL Machine Calibration"><span 
	  class="glyphicon glyphicon-indent-left"></span> VCAL Visual Calibration Service</a>
	<li><a href="../delta" title="FirePick&trade; Delta machine playground"><span 
	  class="glyphicon glyphicon-chevron-down"></span> Delta Machine Simulator</a>
	<li><a href="../test" title="FireREST&trade; Javascript validation"><span 
	  class="glyphicon glyphicon-ok-circle"></span> FireREST&trade; Self-Test</a>
      </ul>
    </nav>
  </div>
  <div class="fr-banner-right">
    <a title="FireREST computer aided manufacturing REST services" 
      href="https://github.com/firepick1/FireREST/wiki/Home" target="_blank">
    <img class="fr-banner-logo" src="../../img/FireREST-alpha.png">
    </a>
  </div>
</div>
<div class="fr-icon">
  <span class="glyphicon {{bannerIcon}}"></span>
</div>
