<div ng-if="cnc.controls.indexOf('gcode') >= 0" >
  <div class="row">
    <div class="fr-cell-btn col-md-1">
      <button title="{{cnc.resource_url('gcode.fire')}}" 
	type="button" class="btn {{cnc.resource_armed_class('gcode')}} btn-sm fr-post" 
	  ng-focus="cnc.on_focus('gcode','button',false)"
	  ng-blur="cnc.armed=null"
	  ng-click="cnc.resource_POST('gcode.fire', 'gcode')"
	  ng-dblclick="cnc.armed='gcode';cnc.resource_POST('gcode.fire', 'gcode')">
	GCODE&nbsp;
      </button>
      <div class="fr-confirm" ng-if="cnc.armed==='gcode'">Click again to send</div>
    </div>
    <div class="fr-cell-data col-md-8">
      <textarea class="form-control fr-postdata" ng-model="cnc.post_data['gcode']"></textarea>
    </div>
  </div>
