<div ng-if="cnc.controls.indexOf('move') >= 0" >
  <div class="row">
    <div class="fr-cell-btn col-md-1">
      <button title="{{cnc.resource_url('gcode.fire')}}" 
	type="button" class="btn {{cnc.resource_armed_class('move')}} btn-sm fr-post" 
	  ng-focus="cnc.on_focus('move','button',false)"
	  ng-blur="cnc.armed=null"
	  ng-click="cnc.resource_POST('gcode.fire', 'move')"
	  ng-dblclick="cnc.armed='move';cnc.resource_POST('gcode.fire', 'move')">
	MOVE&nbsp;
      </button>
      <div class="fr-confirm" ng-if="cnc.armed==='move'">Click again to send</div>
      <div class="fr-gcode" title="Seek limit switch home">{{cnc.gcode_move()}}</div>
    </div>
    <div ng-repeat="axis in cnc.dce.axes" class="fr-cell-data col-md-2">
      <form class="form-inline fr-form-inline">
	<div class="form-group">
	  <div class="input-group">
	    <div class="input-group-addon">{{axis.id}}</div>
	    <input class="form-control {{cnc.axis_class(axis,axis.value)}}" ng-focus="cnc.on_focus('move',axis.id,true)" ng-model="axis.value" 
	      type="number" step="{{axis.resolution}}">
	  </div>
	</div>
	<div ng-if="cnc.is_focus('move',axis.id)" class="form-group fr-form-inline-group">
	  <button class="btn " ng-click="cnc.jog(axis,'value',-axis.jog, 'move')">-{{axis.jog}}</button> 
	  <button class="btn " ng-click="cnc.jog(axis,'value',axis.jog, 'move')">+{{axis.jog}}</button> 
	</div>
	<div ng-if="cnc.is_focus('move',axis.id)" class="form-group fr-form-inline-group">
	  <div class="input-group">
	    <div class="input-group-addon">&#x00b1;{{axis.id}}</div>
	    <input class="form-control" ng-model="axis.jog" type="number" step="{{axis.resolution}}">
	  </div>
	</div>
	<div ng-if="cnc.is_focus('move',axis.id)" class="form-group fr-form-inline-group">
	  <div class="input-group">
	    <div class="checkbox">
	      <label>
		<input type="checkbox" ng-model="axis.enabled"/> Enable
	      </label>
	    </div>
	  </div>
	</div>
      </form>
    </div>
  </div>
