<div class="panel panel-default" >
    <div class="panel-heading" 
        ng-click='onMore("moreFirePaste")'>
        <h3 class="panel-title">
            Configure <a href=https://en.wikipedia.org/wiki/Kinematics target="_blank">kinematics</a>
            <span ng-class="availableIcon(firepaste.isAvailable())"
                ng-attr-title='{{firepaste.isAvailable() && "Kinematic model is supported" || "Select a supported kinematic model"}}'></span>
        </h3>
    </div><!--panel-heading-->
    <div class="panel-body" ng-if="flags.moreFirePaste && kinematics">
        <div class="fn-flex-col"> 

            <div class="fn-flex-row">
                <div class="fn-flex-label">Kinematic Model</div>
                <div class="fn-flex-value">
                    <span ng-if='kinematics.type === "MTO_C3"'>{{kinematics.type}} (Cartesian 3-axis)</span>
                    <span ng-if='kinematics.type !== "MTO_C3"'>{{kinematics.type}} is not supported. FirePaste requires MTO_C3</span>
                </div>
            </div><!--fn-flex-row-->

            <div class="fn-flex-row" style="align-items: center" >
                <div class="fn-flex-label"
                    uib-tooltip="Stepper controller position word size affects positioning limits. Choose 16 for FireStep"
                    tooltip-placement="top-left"
                    >Position bits</div>
                <nav aria-label="Controller position bits" >
                  <ul class="pagination " >
                    <li class="page-item" ng-repeat="bits in [16,32,64]" >
                        <a href class='page-link fn-page-link {{position.model.posBits===bits && "fn-page-link-selected"}} '
                            ng-click="position.model.posBits=bits">{{bits}}</a>
                    </li>
                  </ul>
                </nav>
            </div><!--fn-flex-row-->

            <div class="fn-flex-row" style="align-items: center" 
                ng-if='kinematics.type === ""'>
                <div class="fn-flex-label" >&nbsp;</div>
                <div class="fn-flex-value">
                    Choose a kinematic model that supports the heavy toolheads required for displensing solder paste.
                </div>
            </div>

            <div class="fn-flex-row" style="align-items: center" 
                ng-if='kinematics.type === "MTO_C3"'>
                <div class="fn-flex-label" >Axis setup</div>
                <nav aria-label="Axis navigation" >
                  <ul class="pagination ">
                    <li class="page-item"
                        ng-repeat="axis in [kinematics.xAxis, kinematics.yAxis, kinematics.zAxis]" 
                        >
                        <a href class='page-link fn-tab-link {{axis.name===position.model.cfgAxis && "fn-tab-link-selected"}} '
                            ng-click="position.model.cfgAxis=axis.name">{{axis.name}} <span class="{{axis.icon}}"></span>
                            <span class="glyphicon glyphicon-ok fr-test-pass" ng-show="axis.enabled"></span>
                            <span class="glyphicon glyphicon-remove fr-test-fail" ng-hide="axis.enabled"></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href class='page-link fn-tab-rule ' >&nbsp;</a>
                    </li>
                  </ul>
                </nav>
            </div><!--fn-flex-row-->

            <div ng-repeat="axis in [kinematics.xAxis, kinematics.yAxis, kinematics.zAxis]" 
                class="fn-flex-row" ng-show="position.model.cfgAxis===axis.name" 
                ng-if='kinematics.type === "MTO_C3"'>
                <div class="fn-flex-label">&nbsp;
                    <div style="font-size: 300%; color: #eee;"></div>
                </div>
                <div class="fn-flex-col" style="min-height: 19em">
                    <div ng-show="axis.name === 'X-axis'">Primary horizontal axis (e.g., toolhead movement along gantry)</div>
                    <div ng-show="axis.name === 'Y-axis'">Secondary horizontal axis (e.g., moving bed or dual-axis gantry)</div>
                    <div ng-show="axis.name === 'Z-axis'">Vertical axis coordinates decrease downwards. With Z-home at zero, Z-coordinates will be negative.</div>


                    <form class="form-inline" >
                        <div class="form-group">
                            <label for="drive" class="fn-md-label"
                                uib-tooltip="{{axis.name}} drive mechanism"
                                tooltip-placement="top-left"
                                >Drive</label>
                                <select id="drive" class="form-control" ng-model="axis.drive"
                                    ng-disabled='axis.enabled'/>
                                    <option value="belt">Synchronous belt</option>
                                    <option value="screw">Lead screw (single or dual)</option>
                                    <option value="other">Other</option>
                                </select>
                        </div><!--form-group-sm-->
                    </form>
                    <form class="form-inline" ng-show="axis.drive==='belt'">
                        <div class="form-group" >
                            <label for="pulley-teeth" class="fn-md-label"
                                uib-tooltip="Number of teeth on {{axis.name}} drive pulley. For maximum precision, use smaller pulleys (e.g., 16-teeth); for maximum speed, use larger pulleys (e.g., 20-teeth)"
                                tooltip-placement="top-left"
                                >Pulley teeth</label>
                            <input id="pulley-teeth" class="form-control" type="number" ng-model="axis.teeth"
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-->
                        <div class="form-group" >
                            <label for="belt-pitch" class="fn-md-label"
                                uib-tooltip="Millimeter distance between {{axis.name}} belt teeth. Note: Enter 2 for GT2 6mm synchronous belts"
                                tooltip-placement="top-left"
                                >Belt pitch</label>
                            <input id="belt-pitch" class="form-control" type="number" ng-model="axis.pitch"
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-sm-->
                    </form>
                    <form name="gearRatio" class='form-inline {{gearRatio.$invalid && "has-error"||""}}' 
                        ng-show="axis.drive==='screw'">
                        <div class="form-group" >
                            <label for="gear-out" class="fn-md-label"
                                uib-tooltip="Enter numerator of {{axis.name}} gear ratio (usually number of output gear teeth). Enter 1 if gears are not used."
                                tooltip-placement="top-left"
                                >Output gear</label>
                            <input id="gear-out" class='form-control ' 
                                type="number" ng-model="axis.gearout"
                                required
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-sm-->
                        <div class="form-group" >
                            <label for="gear-in" class="fn-md-label"
                                uib-tooltip="Enter denominator of {{axis.name}} gear ratio (usually number of input gear teeth). Enter 1 if gears are not used."
                                tooltip-placement="top-left"
                                >Input gear</label>
                            <input id="gear-in" class="form-control" type="number" ng-model="axis.gearin"
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-sm-->
                    </form>
                    <form name="screwLead" class='form-inline {{screwLead.$invalid && "has-error"}}' 
                        ng-show="axis.drive==='screw'">
                        <div class="form-group" >
                            <label for="screw-lead" class="fn-md-label"
                                uib-tooltip="Enter millimeters of travel per single revolution of lead screw. For example, enter 0.8 for M5 screws."
                                tooltip-placement="top-left"
                                >Screw Lead</label>
                            <input id="screw-lead" class="form-control" type="number" 
                                ng-model="axis.lead"
                                required
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-sm-->
                    </form>
                    <form class="form-inline" ng-show="axis.drive==='belt' || axis.drive==='screw'">
                        <div class="form-group" >
                            <label for="stepper-steps" class="fn-md-label"
                                uib-tooltip="{{axis.name}} stepper motor steps per revolution (e.g., 200)"
                                tooltip-placement="top-left"
                                >Steps</label>
                            <input id="stepper-steps" class="form-control" type="number" ng-model="axis.steps"
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-sm-->
                        <div class="form-group" >
                            <label for="microsteps" class="fn-md-label"
                                uib-tooltip="{{axis.name}} stepper driver microsteps per stepper step (e.g., 16)"
                                tooltip-placement="top-left"
                                >Microsteps</label>
                            <input id="microsteps" class="form-control" type="number" ng-model="axis.microsteps"
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-sm-->
                    </form>
                    <form class="form-inline" ng-show="axis.drive==='other'">
                        <div class="form-group" >
                            <label for="mMicrosteps" class="fn-md-label"
                                uib-tooltip="microsteps per millimeter of travel along {{axis.name}}"
                                tooltip-placement="top-left"
                                >microsteps/mm</label>
                            <input id="mMicrosteps" class="form-control" type="number" ng-model="axis.mMicrosteps"
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-->
                    </form>
                    <div class="fn-flex-row" style="align-items: center" >
                        <label class="fn-md-label"
                            uib-tooltip="Number of microstep pulses per positioning unit (FireStep only)"
                                tooltip-placement="top-left"
                            >Microstep pulses</label>
                        <div style="margin-bottom: 0.3em" ng-show="axis.enabled">{{axis.mstepPulses}}</div>
                        <nav aria-label="Microstep pulses" ng-hide="axis.enabled">
                          <ul class="pagination " >
                            <li class="page-item" ng-repeat="pulses in [1,2,3,4,5,6,7,8]" >
                                <a href class='page-link fn-page-link {{axis.mstepPulses===pulses && "fn-page-link-selected"}} '
                                    ng-click="position.onChange_mstepPulses(axis, pulses)">{{pulses}}</a>
                            </li>
                          </ul>
                        </nav>
                    </div><!--fn-flex-row-->
                    <div class="fn-flex-row" >
                        <label class="fn-md-label"
                            uib-tooltip="Positioning limits are affected by position bits and microstep pulses"
                                tooltip-placement="top-left"
                            >Position limits</label>
                        <div >
                            &#x25B8; &#x00b1;{{position.axisLimits(axis).maxPos}} mm &nbsp;&nbsp;
                            &#x25B8; &#x00b1;{{position.axisLimits(axis).maxPulses}} microsteps &nbsp;&nbsp;
                            &#x25B8; {{position.axisLimits(axis).posInc}} micron positioning unit
                        </div>
                    </div><!--fn-flex-row-->
                    <form name="minmax" class='form-inline {{minmax.$invalid && "has-error"}} '>
                        <div class="form-group">
                            <label for="{{axis.name}}min" class="fn-md-label"
                                uib-tooltip="{{axis.name}} minimum travel position (millimeters)"
                                tooltip-placement="top-left"
                                >Min</label>
                            <input name="min" id="{{axis.name}}min" required  class="form-control"
                                type="number" 
                                ng-min="position.axisLimits(axis).minPos"
                                ng-max="position.axisLimits(axis).maxPos"
                                ng-disabled='axis.enabled'
                                ng-model-options="{allowInvalid: true}"
                                ng-model="axis.minPos"/>
                        </div><!--form-group-sm-->
                        <div class="form-group">
                            <label for="{{axis.name}}max" class="fn-md-label"
                                uib-tooltip="{{axis.name}} maximum travel position (millimeters)"
                                tooltip-placement="top-left"
                                >Max</label>
                            <input id="{{axis.name}}max" required class="form-control" 
                                type="number" 
                                ng-min="position.axisLimits(axis).minPos"
                                ng-max="position.axisLimits(axis).maxPos"
                                ng-disabled='axis.enabled'
                                ng-model-options="{allowInvalid: true}"
                                ng-model="axis.maxPos"/>
                        </div><!--form-group-sm-->
                    </form>
                    <div class="fn-flex-row" style="align-items: center" >
                        <label class="fn-md-label"
                            uib-tooltip="Choose {{axis.name}} limit switch for homing"
                                tooltip-placement="top-left"
                            >Home to</label>
                        <div ng-show="axis.enabled">
                            <span ng-show="axis.homeMin">Min {{axis.id}}: {{axis.minPos}}</span>
                            <span ng-hide="axis.homeMin">Max {{axis.id}}: {{axis.maxPos}}</span>
                        </div>
                        <nav aria-label="Homing" ng-hide="axis.enabled">
                          <ul class="pagination ">
                            <li class="page-item">
                                <a href class='page-link fn-page-link {{axis.homeMin && "fn-page-link-selected"}} '
                                    ng-click="axis.homeMin=true">Min {{axis.id}}: {{axis.minPos}}</a>
                            </li>
                            <li class="page-item">
                                <a href class='page-link fn-page-link {{!axis.homeMin && "fn-page-link-selected"}} '
                                    ng-click="axis.homeMin=false">Max {{axis.id}}: {{axis.maxPos}}</a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                    <form name="mstepPulses" class="form-inline" ng-disabled='axis.enabled'>
                        <div class="form-group" >
                            <label for="{{axis.name}}max-hz" class="fn-md-label"
                                uib-tooltip="{{axis.name}} maximum number of microsteps/second. Typical stepper drivers will lose steps at microstep frequencies above 18000Hz. However, Trinamic chips such as TMC2100 can go as fast as 26000Hz"
                                tooltip-placement="top-left"
                                >Microsteps/sec</label>
                            <input id="{{axis.name}}max-hz" class="form-control" type="number" ng-model="axis.maxHz"
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-sm-->
                        <div class="form-group" >
                            <label for="{{axis.name}}accel" class="fn-md-label"
                                uib-tooltip="{{axis.name}} seconds to reach maximum velocity. Typically between 0.15 seconds (TMC2100) and 0.4 seconds (other stepper drivers). Use larger values to avoid step loss."
                                tooltip-placement="top-left"
                                >Acceleration</label>
                            <input id="{{axis.name}}accel" class="form-control" type="number" 
                                ng-model="axis.tAccel" 
                                ng-disabled='axis.enabled'/>
                        </div><!--form-group-sm-->
                    </form>
                    <div class="fn-flex-row">
                        <label class="fn-md-label"
                            uib-tooltip="Enable/disable axis movement"
                                tooltip-placement="top-left"
                            >Enable</label>
                        <div ng-include='"/partials/toggle.html"'
                            ng-init='labels=["Off","On"]; obj=axis; prop="enabled"; title="Enable to move axis; Disable to edit axis settings"; change=position.onChangeEnabled;'>
                        </div>
                    </div><!--fn-flex-row-->
                    <div class="fn-flex-row">
                        <label class="fn-md-label">Test {{axis.name}}</label>
                        <div ng-include='"/partials/move-axis.html"'></div>
                    </div><!--fn-flex-row-->

                </div><!--fn-flex-col-->
            </div><!--fn-flex-row-->

            <div class="fn-flex-row">
                <div class="fn-flex-label">Test Axes</div>
                <div class="fn-flex-col">
                    <div class="fn-flex-row">
                        <button class="btn btn-primary " 
                            ng-disabled='!position.canMoveAxis("x") || !position.canMoveAxis("y")'
                            ng-click='position.move({x:kinematics.xAxis.minPos,y:kinematics.yAxis.minPos})'>
                            X: {{kinematics.xAxis.minPos}}
                            Y: {{kinematics.yAxis.minPos}}
                        </button>
                        <button class="btn btn-primary " 
                            ng-disabled='!position.canMoveAxis("x") || !position.canMoveAxis("y")'
                            ng-click='position.move({x:kinematics.xAxis.maxPos,y:kinematics.yAxis.maxPos})'>
                            X: {{kinematics.xAxis.maxPos}}
                            Y: {{kinematics.yAxis.maxPos}}
                        </button>
                    </div><!--fn-flex-row-->
                </div><!--fn-flex-col-->
            </div><!--fn-flex-row-->

        </div>
        <div ng-include='"/partials/move-warnings.html"'></div>
    </div><!--panel-body-->
</div><!--panel-->
