<div class="panel panel-default">
    <div class="panel-heading"
        ng-click='onMore("moreMove")' >
        <h3 class="panel-title">
            Move <a href=https://github.com/firepick1/firenodejs/wiki/REST-position target=_blank>
            <samp>/position</samp></a> 
            <span ng-class="availableIcon(position.isAvailable())"
                tooltip-placement="top-left"
                uib-tooltip='Driver is {{position.isAvailable() && "available" || "initializing..."}}'></span>
            <span class="glyphicon glyphicon-flag fn-alert" ng-hide="position.model.initialized"
                tooltip-placement="top-left"
                uib-tooltip="Motion restricted. Awaiting operator Reset"></span>
        </h3> 
    </div>
    <div class="panel-body" ng-if="flags.moreMove" >
        <form ng-if="!position.model.initialized && !flags.moreFireStep" class="form-inline">
            <div class="form-group">
                <button class='btn btn-primary {{position.isResetStrValid() ? "" : "btn-danger"}}'
                    ng-disabled="'has-error' === position.startupClass() || !position.isAvailable()"
                    title="Reset robot to initial position and settings"
                    style="margin-bottom:5px !important"
                    ng-click='position.home()'>Reset</button> 
                <div class="fn-inline">{{position.model.rest.beforeReset}}</div>

                <div ng-if="'has-error' === position.startupClass()" class="has-error">Click <strong>more...</strong> to correct startup JSON syntax error</div>
            </div>
        </form>
        <table ng-if="position.model.initialized||true" class="table table-condensed ">
            <tr>
                <td class="col-sm-1 text-center"><button class="btn btn-primary " 
                    ng-disabled='!position.canMoveAxis("z")'
                    ng-click='position.move({zr:position.getJog(1)})'>Z+{{position.model.rest.jog}}</button></td>
                <td class="col-sm-1">&nbsp;</td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled='!position.canMoveAxis("y")'
                    ng-click='position.move({yr:position.getJog(1)})'>Y+{{position.model.rest.jog}}</button> </td>
                <td class="col-sm-1">&nbsp;</td>
                <td class="col-sm-1">
                    <div class="fn-axis-pos" 
                        title="X-axis millimeter position (rounded to microstep resolution)">
                        X:&nbsp;{{position.position("x")}}</div>
                    <div class="fn-mstep-pos" 
                        title="Stepper #1 microstep position">{{position.model.mpo["1"]}}</div>
                </td>
                <td class="col-sm-1">
                    <button class='btn {{position.canMoveAxis("x") && "btn-primary" || "btn-danger"}}' 
                        uib-tooltip="CAUTION: Remove all obstructions before homing X axis"
                        ng-disabled='!position.canHomeAxis("x")'
                        ng-click='position.home("x")'>Home X</button>
                </td>
                <td class="col-sm-1">
                    <button class="btn btn-primary " 
                        ng-disabled='!position.canMoveAxis("x")'
                        ng-click='position.move({x:kinematics.xAxis.minPos})'>X {{kinematics.xAxis.minPos}}</button>
                </td>
                <td class="col-sm-1">
                    <button class='btn btn-primary' 
                        ng-disabled='!position.canMoveAxis("x")'
                        ng-click='position.move({x:kinematics.xAxis.maxPos})'>X {{kinematics.xAxis.maxPos}}</button>
                </td>
            </tr>
            <tr>
                <td class="col-sm-1 text-center"><button class="btn btn-primary " 
                    ng-disabled='!position.canMoveAxis("z")'
                    ng-click='position.move({z:kinematics.zAxis.maxPos})'>Z {{kinematics.zAxis.maxPos}}</button></td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled='!position.canMoveAxis("x")'
                    ng-click='position.move({xr:position.getJog(-1)})'>X-{{position.model.rest.jog}}</button></td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-click='position.home()'>Home</button></td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled='!position.canMoveAxis("x")'
                    ng-click='position.move({xr:position.getJog(1)})'>X+{{position.model.rest.jog}}</button></td>
                <td class="col-sm-1">
                    <div class="fn-axis-pos" 
                        title="Y-axis millimeter position (rounded to microstep resolution)">
                        Y:&nbsp;{{position.position("y")}}</div>
                    <div class="fn-mstep-pos" 
                        title="Stepper #2 microstep position">{{position.model.mpo["2"]}}</div>
                </td>
                <td class="col-sm-1"><button class='btn {{position.canMoveAxis("x") && "btn-primary" || "btn-danger"}}' 
                    uib-tooltip="CAUTION: Remove all obstructions before homing X axis"
                    ng-disabled='!position.canHomeAxis("y")'
                    ng-click='position.home("y")'>Home Y</button>
                </td>
                <td class="col-sm-1">
                    <button class="btn btn-primary " 
                        ng-disabled='!position.canMoveAxis("y")'
                        ng-click='position.move({y:kinematics.yAxis.minPos})'>Y {{kinematics.yAxis.minPos}}</button>
                </td>
                <td class="col-sm-1">
                    <button class="btn btn-primary " 
                        ng-disabled='!position.canMoveAxis("y")'
                        ng-click='position.move({y:kinematics.yAxis.maxPos})'>Y {{kinematics.yAxis.maxPos}}</button>
                </td>
            </tr>
            <tr>
                <td class="col-sm-1 text-center"><button class="btn btn-primary " 
                    ng-disabled='!position.canMoveAxis("z")'
                    ng-click='position.move({zr:position.getJog(-1)})'>Z-{{position.model.rest.jog}}</button></td>
                <td class="col-sm-1">&nbsp;</td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled='!position.canMoveAxis("y")'
                    ng-click='position.move({yr:position.getJog(-1)})'>Y-{{position.model.rest.jog}}</button> </td>
                <td class="col-sm-1">&nbsp;</td>
                <td class="col-sm-1">
                    <div class="fn-axis-pos" 
                        title="Z-axis millimeter position (rounded to microstep resolution)">
                        Z:&nbsp;{{position.position("z")}}</div>
                    <div class="fn-mstep-pos" 
                        title="Stepper #3 microstep position">{{position.model.mpo["3"]}}</div>
                </td>
                <td class="col-sm-1"><button class="btn btn-primary " 
                    ng-disabled='!position.canHomeAxis("z")'
                    ng-click='position.home("z")'>Home Z</button>
                </td>
                <td class="col-sm-1">
                    <button class="btn btn-primary " 
                        ng-disabled='!position.canMoveAxis("z")'
                        ng-click='position.move({z:kinematics.zAxis.maxPos})'>Z {{kinematics.zAxis.maxPos}}</button>
                </td>
                <td class="col-sm-1">
                    <button class="btn btn-danger " 
                        uib-tooltip="CAUTION: Clear all obstructions before moving the z-axis to its lowest position"
                        ng-disabled='!position.canMoveAxis("z")'
                        ng-click='position.move({z:kinematics.zAxis.minPos})'>Z {{kinematics.zAxis.minPos}}</button>
                </td>
            </tr>
        </table>
        <table ng-if="false && position.kinematicModel!=='Cartesian' && position.model.initialized" class="table table-condensed ">
            <!--Marks don't seem particularly useful in Cartesian context-->
            <tr>
                <td class="col-sm-1" ng-repeat="m in position.markMatrix[0]">
                    <button class="btn btn-primary center-block" 
                        title='Move to saved position "{{position.marks[m].name}}"'
                        ng-disabled="alerts.isBusy()"
                        ng-click='position.goto(m)'>{{position.marks[m].name}}</button></td>
                <td class="col-sm-1" ng-repeat="m in position.markMatrix[1]">
                    <button class="btn btn-primary center-block" 
                        ng-disabled="alerts.isBusy()"
                        title='Move to saved position "{{position.marks[m].name}}"'
                        ng-click='position.goto(m)'>{{position.marks[m].name}}</button></td>
                <td class="col-sm-1" ng-repeat="m in position.markMatrix[2]">
                    <button class="btn btn-primary center-block" 
                        ng-disabled="alerts.isBusy()"
                        title='Move to saved position "{{position.marks[m].name}}"'
                        ng-click='position.goto(m)'>{{position.marks[m].name}}</button></td>
            </tr>
        </table>
        <!--span ng-if='position.model.mpo.hasOwnProperty("1")'>
            {{position.kinematicModel}}
            steppers({{position.model.mpo["1"]}},{{position.model.mpo["2"]}},{{position.model.mpo["3"]}})
        </span-->

        <div class="fr-more" ng-if="!flags.moreFireStep" ng-click='onMore("moreFireStep")' >more...</div>
        <div class="fr-more" ng-if="flags.moreFireStep" ng-click='onMore("moreFireStep")' >less...</div>
        <form class="form" ng-if="flags.moreFireStep">
            <div class="form-group row">
                <div class="btn-group col-sm-10">
                    <label class="btn btn-default fn-btn-radio" 
                        ng-repeat="group in ['Config', 'Model', 'Debug']" 
                        ng-change="position.moreGroupSel()"
                        ng-model="position.moreGroup" 
                        uib-btn-radio="group">{{group}}...</label>
                </div><!--form-group-->
            </div><!--btn-group-->
        </form><!--form-->
        <table ng-if="flags.moreFireStep" class="table table-condensed table-striped">
            <tr class="row"
                ng-show="position.moreGroup==='Config'"
                title="Reset robot to initial position and settings">
                <th class="col-sm-2 text-right">
                    <form class="form-inline">
                        <div class="form-group">
                            <button class='btn btn-primary {{position.isResetStrValid() ? "" : "btn-danger"}}'
                                ng-disabled="alerts.isBusy() || 'has-error' === position.startupClass() || !position.isAvailable()"
                                title="Reset robot to initial position and settings"
                                style="margin-bottom:5px !important"
                                ng-click='position.reset()'>Reset</button> 
                        </div>
                    </form>
                </th>
                <td class="col-sm-10">
                    <form class="form-inline"
                        title="Enter custom FireStep commands to be executed before resetting position">
                        <div class='form-group {{position.isResetStrValid() ? "has-success" : "has-error"}}'>
                            <textarea ng-model="position.resetStr" 
                                title="Enter FiresStep JSON commands for custom initializion"
                                ng-change="position.onChangeResetStr()"
                                class="form-control" style="width:30em" rows="1"></textarea>
                        </div>
                    </form>
                </td>
            </tr>
            <tr class="row" ng-show="position.moreGroup==='Config'">
                <th class="col-sm-2 text-right">Z-cruise</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" 
                        title="Minimum height for unrestricted XY travel""
                        ng-model="position.model.rest.zCruise"></input>
                    </div>
                </td>
            </tr>
            <tr class="row" ng-show="position.moreGroup==='Config'">
                <th class="col-sm-2 text-right">display level</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" 
                        title="Display level (0-255)"
                        ng-model="position.model.rest.displayLevel"></input>
                    </div>
                </td>
            </tr>
            <tr class="row" ng-show="position.moreGroup==='Config'">
                <th class="col-sm-2 text-right">jog</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" step="any"
                        title="Move increment in millimeters"
                        ng-model="position.model.rest.jog"></input>
                    </div>
                </td>
            </tr>
            <tr class="row" ng-show="position.moreGroup==='Config'">
                <th class="col-sm-2 text-right">msSettle</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" step="any"
                        title="Millisecond delay for camera auto-focus and/or auto-exposure. Use zero for fixed focus and exposure."
                        ng-model="position.model.rest.msSettle"></input>
                    </div>
                </td>
            </tr>
            <tr class="row" ng-show="position.moreGroup==='Config'">
                <th class="col-sm-2 text-right">serial path</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="text"
                        title="Enter FireStep serial path"
                        ng-model="position.edit.serialPath"></input>
                    </div>
                </td>
            </tr>
            <tr class="row" ng-show="position.moreGroup==='Marks'"
                ng-repeat="mark in position.marks">
                <th class="col-sm-2 text-right">
                    <form class="form-horizontal">
                        <input class="form-control input-sm" type="text" 
                            title="Name of button that will return to marked position"
                            ng-model="mark.name"></input>
                    </form>
                </th>
                <td class="col-sm-10">
                    <form class="form-horizontal">
                        <div class="col-xs-2">
                            <button class="btn btn-warning" 
                                title='Save current position for "{{mark.name}}"'
                                ng-click='position.markButton($index)'>Mark</button>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group {{position.markClass(mark)}} has-feedback">
                                <input class="form-control input-sm" type="number" step="any"
                                    title="x-position in millimeters. {{mark.title}}"
                                    ng-change="position.onMarkChanged(mark)"
                                    ng-model="mark.x"></input>
                                 <span class="glyphicon glyphicon-{{mark.icon}} form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group {{position.markClass(mark)}} has-feedback">
                                <input class="form-control input-sm" type="number" step="any"
                                    title="y-position in millimeters. {{mark.title}}"
                                    ng-change="position.onMarkChanged(mark)"
                                    ng-model="mark.y"></input>
                                 <span class="glyphicon glyphicon-{{mark.icon}} form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group {{position.markClass(mark)}} has-feedback">
                                <input class="form-control input-sm" type="number" step="any"
                                    title="z-position in millimeters. {{mark.title}}"
                                    ng-change="position.onMarkChanged(mark)"
                                    ng-model="mark.z"></input>
                                 <span class="glyphicon glyphicon-{{mark.icon}} form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr class="row" ng-show="position.moreGroup==='Model'"
                ng-repeat="(key,value) in position.model">
                <th class="col-sm-2 text-right">{{key}}</th>
                <td class="col-sm-10">{{value}}</td>
            </tr>
            <tr class="row" ng-show="position.moreGroup==='Debug'">
                <th class="col-sm-2 text-right">TEST</th>
                <td class="col-sm-8" >
                    <form class="form-horizontal">
                        <div class="col-xs-1">
                            <button class="btn btn-danger" 
                                ng-disabled="alerts.isBusy() || !position.test.enabled"
                                title='Danger: undocumented and unsupported functionality"'
                                ng-click='position.onTest()'>Fire</button>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control input-sm" type="number" 
                                title="zHigh" placeHolder="zHigh"
                                ng-disabled="alerts.isBusy()"
                                ng-model="position.test.zHigh"></input>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control input-sm" type="number" step="any"
                                title="path microseconds multiplier" placeHolder="usScale"
                                ng-disabled="alerts.isBusy()"
                                ng-model="position.test.usScale"></input>
                        </div>
                        <div class="input-group col-xs-1">
                            <div class="checkbox" >
                                <label> <input type="checkbox"  ng-model="position.test.enabled"/>arm&nbsp; </label>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div><!--panel-body-->
</div><!--panel-->
