<div class="row fr-data-label">
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-8">
    <a title="{{cv.image_url(image)}}" href="{{cv.image_url(image)}}">{{image}}</a>
    <a target="_blank" class="fr-help" href="https://github.com/firepick1/FireREST/wiki/{{image}}">?</a>
  </div>
</div>
<div class="row fr-data">
  <div class="fr-cell-btn col-md-1">
    <button title="{{cv.image_url(image)}}" type="button" class="btn btn-primary btn-sm fr-get" ng-click="cv.image_GET(image)">
      GET&nbsp;<span class="{{cv.image_GET_icon(image)}}"></span>
    </button>
  </div>
  <div class="fr-cell-data col-md-7">
    <img title="{{cv.image_url(image)}}" class="img-responsive img-rounded {{cv.image_class(image)}}" 
      onerror="src='/firerest/img/no-image.png'"
      ng-src="{{cv.image_url(image)}}" ng-click="cv.image_click(image)">
  </div>
</div>
