<div class="fn-flex-row" >
    <div class="fn-flex-col" style=" align-self:flex-start;width:8em; margin-right: 1em; " >
        <div class="fn-flex-row" style="align-self: flex-start; padding:0">
            <div class="fn-plan-pos" 
                tooltip-placement="right"
                uib-tooltip="{{axis.name}} nominal position (mm)"
                >{{axis.id.toUpperCase()}}:&nbsp;{{position.position(axis.id).nominal}}
            </div>
        </div>
        <div class="fn-flex-row" style="justify-content:space-between; padding:0">
            <div class="fn-axis-pos" 
                tooltip-placement="right"
                uib-tooltip="{{axis.name}} millimeter position (rounded to positioning resolution)"
                ><span ng-show="position.position(axis.id).actual != position.position(axis.id).nominal"
                >{{position.position(axis.id).actual}}</span>&nbsp;
            </div>
            <div class="fn-mstep-pos" 
                tooltip-placement="right"
                uib-tooltip="{{axis.name}} motor position"
                >{{position.position(axis.id).motor}}
            </div>
        </div>
    </div>
    <button class='btn {{axis.id==="z" && "btn-primary" || "btn-danger"}} ' 
        uib-tooltip="CAUTION: Make sure path is clear before homing"
        ng-show="position.canHomeAxis(axis.id)"
        ng-click='position.home(axis.id)'>Home {{axis.id.toUpperCase()}}</button>
    <button class='btn btn-default'
        ng-hide="position.canHomeAxis(axis.id)"
        ng-disabled="true"
        ng-click='position.home(axis.id)'>Home {{axis.id.toUpperCase()}}</button>
    <button class="btn btn-primary " 
        ng-show="position.canMoveAxis(axis.id)"
        ng-click='position.move(axis.id, axis.minPos)'>{{axis.id.toUpperCase()}}: {{axis.minPos}}</button>
    <button class="btn btn-default " 
        ng-hide="position.canMoveAxis(axis.id)"
        ng-disabled="true"
        ng-click='position.move(axis.id, axis.minPos)'>{{axis.id.toUpperCase()}}: {{axis.minPos}}</button>
    <button class="btn btn-primary " 
        ng-show="position.canMoveAxis(axis.id)"
        ng-click='position.move(axis.id, axis.maxPos)'>{{axis.id.toUpperCase()}}: {{axis.maxPos}}</button>
    <button class="btn btn-default " 
        ng-hide="position.canMoveAxis(axis.id)"
        ng-disabled="true"
        ng-click='position.move(axis.id, axis.maxPos)'>{{axis.id.toUpperCase()}}: {{axis.maxPos}}</button>
</div><!--fn-flex-row-->
