<div class="panel panel-default">
    <div class="panel-heading"
        ng-click='onMore("panelMeasure")' 
        title="Use camera to measure precision and accuracy at current location">
        <h3 class="panel-title">
            Measure <a href=https://github.com/firepick1/firenodejs/wiki/REST-measure target=_blank>
            <samp>/measure</samp></a> 
            <span ng-class="availableIcon(measure.isAvailable())"></span>
        </h3> 
    </div>
    <div class="panel-body" ng-if="flags.panelMeasure">
        <div class="row">
            <div class="col-sm-1 text-right">
                Measure Precision
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary center-block" 
                    title='Measure jogging precision'
                    ng-disabled="alerts.isBusy() || !firestep.model.initialized" 
                    ng-click='measure.jogPrecision(camera.model.selected)'><span class="glyphicon glyphicon-retweet"></span>&nbsp;Jog</button>
            </div>
            <div class="col-sm-1" ng-if="firestep.model.sys.to===1">
                <button class="btn btn-primary center-block" 
                    title='Measure Long Path Precision (LPP)'
                    ng-disabled="alerts.isBusy() || !firestep.model.initialized" 
                    ng-click='measure.lppPrecision(camera.model.selected)'><span class="glyphicon glyphicon-retweet"></span>&nbsp;LPP</button>
            </div>
        </div> <!-- row -->
        <div ng-repeat="results in [measure.getResults()]">
            <div class="row" ng-if="results.jogStats!=null || results.lppStats!=null">
                <div class="col-sm-4" ng-if="results.jogPrecision.length">
                    <h6>Jog Precision {{measure.location()}}</h6>
                    <table class="table table-condensed">
                        <tr><th>{{results.jogPrecision.length}}</th><th>min</th><th>max</th><th>avg</th></tr>
                        <tr>
                            <th>xErr</th>
                            <td>{{results.jogStats.xErrMin}}</td>
                            <td>{{results.jogStats.xErrMax}}</td>
                            <td>{{results.jogStats.xErrAvg}}</td>
                        </tr>
                        <tr>
                            <th>yErr</th>
                            <td>{{results.jogStats.yErrMin}}</td>
                            <td>{{results.jogStats.yErrMax}}</td>
                            <td>{{results.jogStats.yErrAvg}}</td>
                        </tr>
                    </table>
                    <table class="table table-condensed table-striped">
                        <tr><th>xErr</th><th>yErr</th><th>dx</th><th>dy</th></tr>
                        <tr ng-repeat="result in results.jogPrecision">
                            <td ng-class="measure.resultClass(result)">{{result.xErr}}</td>
                            <td ng-class="measure.resultClass(result)">{{result.yErr}}</td>
                            <td ng-class="measure.resultClass(result)">{{result.dx}}</td>
                            <td ng-class="measure.resultClass(result)">{{result.dy}}</td>
                        </tr>
                    </table>
                </div><!-- col -->
                <div class="col-sm-4" ng-if="results.lppPrecision.length">
                    <h6>LPP Precision {{measure.location()}}</h6>
                    <table class="table table-condensed">
                        <tr><th>{{results.lppPrecision.length}}</th><th>min</th><th>max</th><th>avg</th></tr>
                        <tr>
                            <th>xErr</th>
                            <td>{{results.lppStats.xErrMin}}</td>
                            <td>{{results.lppStats.xErrMax}}</td>
                            <td>{{results.lppStats.xErrAvg}}</td>
                        </tr>
                        <tr>
                            <th>yErr</th>
                            <td>{{results.lppStats.yErrMin}}</td>
                            <td>{{results.lppStats.yErrMax}}</td>
                            <td>{{results.lppStats.yErrAvg}}</td>
                        </tr>
                        <tr ng-if="results.lppStats.isBeltLoose">
                            <th>Warning</th>
                            <td colspan=3 class="danger">
                                LPP imprecision may be caused by inadequate belt tension,
                                especially for plastic pulleys with no gear teeth.
                                Tighten belts and retry.
                            </td>
                        </tr>
                    </table>
                    <table class="table table-condensed table-striped">
                        <tr><th>xErr</th><th>yErr</th><th>dx</th><th>dy</th></tr>
                        <tr ng-repeat="result in results.lppPrecision">
                            <td ng-class="measure.resultClass(result)">{{result.xErr}}</td>
                            <td ng-class="measure.resultClass(result)">{{result.yErr}}</td>
                            <td ng-class="measure.resultClass(result)">{{result.dx}}</td>
                            <td ng-class="measure.resultClass(result)">{{result.dy}}</td>
                        </tr>
                    </table>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- results -->
        <div class="row" ng-if="firestep.model.sys.to===1">
            <div class="fr-more" ng-if="!flags.moreMeasure" ng-click='onMore("moreMeasure")' >more...</div>
            <div class="fr-more" ng-if="flags.moreMeasure" ng-click='onMore("moreMeasure")' >less...</div>
            <div ng-if="flags.moreMeasure" >
            <div class="row">
                <div class="col-sm-3">
                    <form role="form" class="form-inline">
                        <div class="form-group form-group-sm">
                            <div class="input-group">
                                <div class="input-group-addon" 
                                    title="Long path precision point 1 of 2">LPP:Z1</div>
                                <input class="form-control input-sm" type="number" 
                                    title="Move increment in millimeters"
                                    ng-model="measure.model.rest.lpp.z1"></input>
                            </div>
                        </div> 
                    </form>
                </div>
                <div class="col-sm-3">
                    <form role="form" class="form-inline">
                        <div class="form-group form-group-sm">
                            <div class="input-group">
                                <div class="input-group-addon" 
                                    title="Long path precision point 2 of 2">LPP:Z2</div>
                                <input class="form-control input-sm" type="number" 
                                    title="Move increment in millimeters"
                                    ng-model="measure.model.rest.lpp.z2"></input>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div><!--row-->

    </div><!--panel-body-->
</div><!--panel-->
