<div class="panel panel-default" >
    <div class="panel-heading" ng-click='onMore("moreFirePaste")'>
        <h3 class="panel-title">
            FirePaste setup 
            <span ng-class="availableIcon(firenodejs.isAvailable())"
                title="FirePaste service status for /firenodejs"></span>
        </h3>
    </div><!--panel-heading-->
    <div class="panel-body" ng-if="flags.moreFirePaste">
        <div class="fn-flex-col" ng-include="'/partials/firepaste-kinematics.html'"></div>

        <div class="form form-inline">
            <div class="form-group">
                <button class="btn btn-primary" ng-click="firenodejs.requestSync()"
                    ng-disabled="!firenodejs.isAvailable()"
                    title="Check for server updates" >Sync</button>
                <button class="btn btn-primary" ng-click="flags.shutdown=true"
                    ng-disabled="!firenodejs.isAvailable()"
                    title="Shutdown firenodejs system for power-off" >Shutdown</button>
            </div>
        </div>
        <div class="fn-confirm-right" style="width:50em" ng-show="flags.shutdown">
            <h4>
                Shutdown firenodejs
            </h4>
            <div>
                <button class="btn btn-default fn-btn-confirm" ng-click="flags.shutdown=false" 
                    ng-show="flags.shutdown">Cancel</button>
                <button class="btn btn-danger fn-btn-confirm" ng-click="firenodejs.halt()" 
                    title="Confirm firenodejs system shutdown for power-off" 
                    ng-show="flags.shutdown" >Halt</button>
            </div>
            <div>
                <code>{{firenodejs.model.shell}}</code>
            </div>
            <div>
                <i>NOTE: If shutdown fails, you may need to allow regular users to shut down the system. Example:</i>
            </div>
            <div>
                <code>sudo chmod u+s /sbin/shutdown</code>
            </div>
        </div>
        <div ng-hide="flags.shutdown">
            <code>{{firenodejs.model.shell}}</code>
        </div>

        <div class="fr-more" ng-if="!flags.more_firenodejs" ng-click='onMore("more_firenodejs")' >more...</div>
        <div class="fr-more" ng-if="flags.more_firenodejs" ng-click='onMore("more_firenodejs")' >less...</div>
        <div ng-if="flags.more_firenodejs">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-condensed table-striped">
                       <tr class="row" ng-repeat="(key,value) in firenodejs.models">
                            <th class="col-sm-1 text-right">{{key}}</th>
                            <td class="col-sm-7">{{value}}</td>
                        </tr>
                    </table>
                </div><!-- col-->
            </div> <!-- row -->
        </div>
    </div><!--panel-body-->
</div><!--panel-->
<div class="fn-shutdown" ng-if="firenodejs.shutdown">
    <div>
        <img src="/img/firenodejs-alpha.png" class="fn-inline-logo">
    </div>
    <div>System has been shut down.</div>
    <div>Power off now.</div>
</div>
