<div class="panel panel-default" 
    title="REST facade for vision-capable factory robots integrates image processing with movement">
    <div class="panel-heading" ng-click='onMore("moreDiscover")'>
        <h3 class="panel-title">
            Discover <a href="https://github.com/firepick1/firenodejs/wiki" target="_blank">
            <samp>/firenodejs</samp></a>
            <span ng-class="availableIcon(firenodejs.isAvailable())"></span>
        </h3>
    </div><!--panel-heading-->
    <div class="panel-body" ng-if="flags.moreDiscover">
        <a href="https://github.com/firepick1/firenodejs/wiki" target="_blank">
        <img src="img/firenodejs-alpha.png" class="fn-inline-logo">
        </a>
        is a REST facade for vision-capable factory robots that integrates the following 
        individual REST services:

        <dl class="dl-horizontal">
            <dt><a href="https://github.com/firepick1/firenodejs/wiki/REST-firenodejs" target="_blank">
                <samp>/firenodejs</samp></a></dt>
            <dd>REST service for service meta-data and integration facade.</dd>
            <dt><a href="https://github.com/firepick1/firenodejs/wiki/REST-camera" target="_blank">
                <samp>/camera</samp></a></dt>
            <dd>REST service for image acquisition. Supports <samp>raspistill</samp> as well as USB cameras</dd>
            <dt><a href="https://github.com/firepick1/firenodejs/wiki/REST-firestep" target="_blank">
                <samp>/firestep</samp></a></dt>
            <dd>REST service for motion control. High-level
                <a href="https://github.com/firepick1/FireStep/wiki" target="_blank">FireStep&trade;</a>
                driver generates application-specific complex 
                <a href="http://www.springer.com/us/book/9783540733973" target="_blank">PH5</a> 
                paths for 
                <a href="https://github.com/firepick1/FireStep/wiki" target="_blank">FireStep&trade;</a>
                motion controllers.
                Supports FirePick Delta and 
                <a href="https://github.com/firepick1/FireSlide" target="_blank">FireSlide&trade;</a> robots</dd>
            <dt><a href="https://github.com/firepick1/firenodejs/wiki/REST-images" target="_blank">
                <samp>/images</samp></a></dt>
            <dd>REST service for image storage stores images indexed by camera and location.</dd>
            <dt><a href="https://github.com/firepick1/firenodejs/wiki/REST-firesight" target="_blank">
                <samp>/firesight</samp></a></dt>
            <dd>REST service for 
                <a href="https://github.com/firepick1/FireSight/wiki" target="_blank">FireSight&trade;</a>
                image processing.
            </dd>
            <dt><a href="https://github.com/firepick1/firenodejs/wiki/REST-measure" target="_blank">
                <samp>/measure</samp></a></dt>
            <dd>REST service for measuring precision and accuracy.
            </dd>
        </dl>

        <div class="fr-more" ng-if="!flags.more_firenodejs" ng-click='onMore("more_firenodejs")' >more...</div>
        <div class="fr-more" ng-if="flags.more_firenodejs" ng-click='onMore("more_firenodejs")' >less...</div>
        <div ng-if="flags.more_firenodejs">
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-condensed table-striped">
                       <tr class="row" ng-repeat="(key,value) in firenodejs.models">
                            <th class="col-sm-1 text-right">{{key}}</th>
                            <td class="col-sm-7">{{value}}</td>
                        </tr>
                    </table>
                </div><!-- col-->
            </div> <!-- row -->
        </div>
    </div><!--panel-body-->
</div><!--panel-->
