<div class="panel panel-default">
    <div class="panel-heading"
        ng-click='onMore("moreMove")' 
        title="Move/jog factory robot to desired location with FireStep&trade; motion controller">
        <h3 class="panel-title">
            Move <a href=https://github.com/firepick1/firenodejs/wiki/REST-firestep target=_blank>
            <samp>/firestep</samp></a> 
            <span ng-class="availableIcon(firestep.isAvailable())"></span>
            <small>{{firestep.kinematicModel}}</small>
        </h3> 
    </div>
    <div class="panel-body" ng-if="flags.moreMove" >
        <form ng-if="!firestep.model.initialized && !flags.moreFireStep" class="form-inline">
            <div class="form-group">
                <button class="btn btn-primary" 
                    title="Click to home FireStep and establish position"
                    ng-disabled="alerts.isBusy() || 'has-error' === firestep.startupClass() || !firestep.isAvailable()"
                    ng-class="firestep.initializeClass()"
                    ng-click='console.log("D1");firestep.initialize();console.log("D2");'>Initialize</button> 
                <div ng-if="'has-error' === firestep.startupClass()" class="has-error">Click <strong>more...</strong> to correct startup JSON syntax error</div>
            </div>
        </form>
        <table ng-if="firestep.model.initialized" class="table table-condensed ">
            <tr>
                <td class="col-sm-1"><button class="btn btn-primary " 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.movr({z:firestep.getJog(1)})'>Z+{{firestep.model.rest.jog}}</button></td>
                <td class="col-sm-1">&nbsp;</td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.movr({y:firestep.getJog(1)})'>Y+{{firestep.model.rest.jog}}</button> </td>
                <td class="col-sm-1">&nbsp;</td>
                <td class="col-sm-2"><button class="btn btn-primary " 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.mov({x:0})'>X 0</button><span 
                    title="microstep grid position (nominal position)">&nbsp;{{firestep.position("x")}}</span></td>
                <td class="col-sm-1" ng-repeat="m in firestep.markMatrix[0]">
                    <button class="btn btn-primary center-block" 
                        title='Move to saved position "{{firestep.model.rest.marks[m].name}}"'
                        ng-disabled="alerts.isBusy()"
                        ng-click='firestep.goto(m)'>{{firestep.model.rest.marks[m].name}}</button></td>
            </tr>
            <tr>
                <td class="col-sm-1"><button class="btn btn-primary " 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.mov({z:0})'>Z 0</button></td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.movr({x:firestep.getJog(-1)})'>X-{{firestep.model.rest.jog}}</button></td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.hom()'>Home</button></td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.movr({x:firestep.getJog(1)})'>X+{{firestep.model.rest.jog}}</button></td>
                <td class="col-sm-2"><button class="btn btn-primary " 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.mov({y:0})'>Y 0</button><span
                    title="microstep grid position (nominal position)">&nbsp;{{firestep.position("y")}}</span></td>
                <td class="col-sm-1" ng-repeat="m in firestep.markMatrix[1]">
                    <button class="btn btn-primary center-block" 
                        ng-disabled="alerts.isBusy()"
                        title='Move to saved position "{{firestep.model.rest.marks[m].name}}"'
                        ng-click='firestep.goto(m)'>{{firestep.model.rest.marks[m].name}}</button></td>
            </tr>
            <tr>
                <td class="col-sm-1"><button class="btn btn-primary " 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.movr({z:firestep.getJog(-1)})'>Z-{{firestep.model.rest.jog}}</button></td>
                <td class="col-sm-1">&nbsp;</td>
                <td class="col-sm-1"><button class="btn btn-primary center-block" 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.movr({y:firestep.getJog(-1)})'>Y-{{firestep.model.rest.jog}}</button> </td>
                <td class="col-sm-1">&nbsp;</td>
                <td class="col-sm-2"><button class="btn btn-primary " 
                    ng-disabled="alerts.isBusy()"
                    ng-click='firestep.mov({z:0})'>Z 0</button><span
                    title="microstep grid position (nominal position)">&nbsp;{{firestep.position("z")}}</span></td>
                <td class="col-sm-1" ng-repeat="m in firestep.markMatrix[2]">
                    <button class="btn btn-primary center-block" 
                        ng-disabled="alerts.isBusy()"
                        title='Move to saved position "{{firestep.model.rest.marks[m].name}}"'
                        ng-click='firestep.goto(m)'>{{firestep.model.rest.marks[m].name}}</button></td>
            </tr>
        </table>
        <span ng-if='firestep.model.mpo.hasOwnProperty("1")'>
            steppers({{firestep.model.mpo["1"]}},{{firestep.model.mpo["2"]}},{{firestep.model.mpo["3"]}})
        </span>

        <div class="fr-more" ng-if="!flags.moreFireStep" ng-click='onMore("moreFireStep")' >more...</div>
        <div class="fr-more" ng-if="flags.moreFireStep" ng-click='onMore("moreFireStep")' >less...</div>
        <table ng-if="flags.moreFireStep" class="table table-condensed table-striped">
            <tr class="row">
                <th class="col-sm-2 text-right">
                    <form class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-primary" 
                                title="Click to home FireStep and establish position"
                                ng-disabled="alerts.isBusy() || !firestep.isAvailable()"
                                ng-class="firestep.initializeClass()"
                                ng-click='firestep.initialize()'>Initialize</button> 
                        </div>
                    </form>
                </th>
                <td class="col-sm-10">
                    <form class="form-inline">
                        <div class="form-group {{firestep.startupClass()}}">
                            <textarea id="startupScript" 
                                ng-model="firestep.rest.startup.json" 
                                class="form-control" style="width:30em" rows="1"></textarea>
                        </div>
                        <div class="input-group" ng-repeat='flag in ["custom", "id", "hom", "mpo"]'>
                          <div class="checkbox" ng-if='flag === "custom" || !firestep.rest.startup.custom'>
                            <label> 
                                <input type="checkbox"  
                                    ng-change="firestep.onChangeStartupFlag(flag)" 
                                    ng-model="firestep.rest.startup[flag]"/> 
                                {{flag}}&nbsp;
                            </label>
                          </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr class="row">
                <th class="col-sm-2 text-right">display level</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" 
                        title="Display level (0-255)"
                        ng-model="firestep.model.rest.displayLevel"></input>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-sm-2 text-right">jog</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" step="any"
                        title="Move increment in millimeters"
                        ng-model="firestep.model.rest.jog"></input>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-sm-2 text-right">lppSpeed</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" step="any"
                        title="Set to 0 for no LPP; 1 for nominal speed"
                        ng-model="firestep.model.rest.lppSpeed"></input>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-sm-2 text-right">lppZ</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" step="any"
                        title="High point for all LPP moves"
                        ng-model="firestep.model.rest.lppZ"></input>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-sm-2 text-right">msSettle</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="number" step="any"
                        title="Milliseconds to settle after mpo"
                        ng-model="firestep.model.rest.msSettle"></input>
                    </div>
                </td>
            </tr>
            <tr class="row">
                <th class="col-sm-2 text-right">serial path</th>
                <td class="col-sm-10">
                    <div class="input-group">
                    <input class="form-control input-sm" type="text"
                        title="Enter FireStep serial path"
                        ng-change="firestep.onChangeSerialPath()"
                        ng-model="firestep.model.rest.serialPath"></input>
                    </div>
                </td>
            </tr>
            <tr class="row" ng-repeat="mark in firestep.marks">
                <th class="col-sm-2 text-right">
                    <form class="form-horizontal">
                        <input class="form-control input-sm" type="text" 
                            title="Name of button that will return to marked position"
                            ng-model="mark.name"></input>
                    </form>
                </th>
                <td class="col-sm-10">
                    <form class="form-horizontal">
                        <div class="col-xs-2">
                            <button class="btn btn-warning" 
                                title='Save current position for "{{mark.name}}"'
                                ng-click='firestep.mark($index)'>Mark</button>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group {{firestep.markClass(mark)}} has-feedback">
                                <input class="form-control input-sm" type="number" step="any"
                                    title="x-position in millimeters. {{mark.title}}"
                                    ng-change="firestep.onMarkChanged(mark)"
                                    ng-model="mark.x"></input>
                                 <span class="glyphicon glyphicon-{{mark.icon}} form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group {{firestep.markClass(mark)}} has-feedback">
                                <input class="form-control input-sm" type="number" step="any"
                                    title="y-position in millimeters. {{mark.title}}"
                                    ng-change="firestep.onMarkChanged(mark)"
                                    ng-model="mark.y"></input>
                                 <span class="glyphicon glyphicon-{{mark.icon}} form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <div class="form-group {{firestep.markClass(mark)}} has-feedback">
                                <input class="form-control input-sm" type="number" step="any"
                                    title="z-position in millimeters. {{mark.title}}"
                                    ng-change="firestep.onMarkChanged(mark)"
                                    ng-model="mark.z"></input>
                                 <span class="glyphicon glyphicon-{{mark.icon}} form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr class="row" ng-repeat="(key,value) in firestep.model">
                <th class="col-sm-2 text-right">{{key}}</th>
                <td class="col-sm-10">{{value}}</td>
            </tr>
            <tr class="row"> 
                <th class="col-sm-2 text-right">TEST</th>
                <td class="col-sm-8" >
                    <form class="form-horizontal">
                        <div class="col-xs-1">
                            <button class="btn btn-danger" 
                                ng-disabled="alerts.isBusy() || !firestep.test.enabled"
                                title='Danger: undocumented and unsupported functionality"'
                                ng-click='firestep.onTest()'>Fire</button>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control input-sm" type="number" 
                                title="zHigh" placeHolder="zHigh"
                                ng-disabled="alerts.isBusy()"
                                ng-model="firestep.test.zHigh"></input>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control input-sm" type="number" step="any"
                                title="path microseconds multiplier" placeHolder="usScale"
                                ng-disabled="alerts.isBusy()"
                                ng-model="firestep.test.usScale"></input>
                        </div>
                        <div class="input-group col-xs-1">
                            <div class="checkbox" >
                                <label> <input type="checkbox"  ng-model="firestep.test.enabled"/>arm&nbsp; </label>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div><!--panel-body-->
</div><!--panel-->
