<div class="panel panel-default">
    <div class="panel-heading"
        ng-click='onMore("moreAnalyze")' 
        title="Process onboard images with FireSight&trade; OpenCV JSON adapter">
        <h3 class="panel-title">
            Analyze <a href=https://github.com/firepick1/firenodejs/wiki/REST-firesight target=_blank>
            <samp>/firesight</samp></a> 
            <span ng-class="availableIcon(firesight.isAvailable())"></span>
        </h3> 
    </div><!--"panel-heading"-->
    <div class="panel-body" ng-if="flags.moreAnalyze">
        <div class="row">
            <div class="col-sm-2">
                <div>
                    <button class="btn btn-primary" style="width:100%; margin:0.1em"
                        title='Calculate offset from saved position'
                        ng-click='firesight.calcOffset(camera.selected)'>CalcOffset</button></td>
                </div>
                <div>
                    <button class="btn btn-primary" style="width:100%; margin:0.1em"
                        title='Calculate grid size, position and angle'
                        ng-click='firesight.calcGrid(camera.selected)'>CalcGrid</button></td>
                </div>
            </div>
            <div class="col-sm-4">
                <div ng-if="firesight.getResults().calcOffset"> 
                    <table class="table table-condensed table-bordered">
                        <caption><a href=https://github.com/firepick1/firenodejs/wiki/Help-CalcOffset target="_blank">Calculate Offset</a></capion>
                        <tr class="{{firesight.calcOffsetClass('dx')}}" ><th>dx</th><td>{{firesight.getResults().calcOffset.dx}}</td></tr>
                        <tr class="{{firesight.calcOffsetClass('dy')}}" ><th>dy</th><td>{{firesight.getResults().calcOffset.dy}}</td></tr>
                    </table>
                </div>
                <div ng-if="firesight.getResults().calcGrid"> 
                    <table class="table table-condensed table-bordered">
                        <caption><a href=https://github.com/firepick1/firenodejs/wiki/Help-CalcGrid target="_blank">Calculate Grid</a></capion>
                        <tr ><th>origin</th><td>{{firesight.getResults().calcGrid.origin}}</td></tr>
                        <tr ><th>angle</th><td>{{firesight.getResults().calcGrid.angle}}</td></tr>
                        <tr ><th>cellSize</th><td>{{firesight.getResults().calcGrid.cellSize}}</td></tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-3" ng-repeat="cam in [camera.selected]">
                <div ng-include="'partials/image.html'" 
                    onload="img='/firesight/'+cam+'/out.jpg'" height="200px">
                </div>
            </div> <!-- col -->
        </div> <!-- row -->
    </div><!--"panel-body"-->
</div><!--"panel"-->
