<div class="panel panel-default">
    <div class="panel-heading"
        ng-click='onMore("moreScan")' >
        <h3 class="panel-title">
            <span
                tooltip-placement="top-left"
                uib-tooltip="Scan region of interest in DeltaMesh to gather data for interpolation" >
                Scan <a href=https://github.com/firepick1/firenodejs/wiki/REST-mesh target=_blank>
                <samp>/mesh</samp></a> </span>
            <span ng-class="availableIcon(mesh.isAvailable())"></span>
        </h3> 
    </div><!--panel-heading-->
    <div class="panel-body" ng-if="flags.moreScan">
        <div class="row">
            <div class="col-sm-7">
                <form class="form-inline">
                    <div class="form-group" tooltip-placement="top-left" tooltip-append-to-body=true
                        uib-tooltip="Select Z-plane of vertices to display: zplane0 is lowest" >
                        <select class="form-control" style="width:8em" 
                            ng-change="mesh.validate()"
                            ng-model="mesh.model.client.viewPlane">
                            <option ng-repeat="plane in mesh.validViewPlanes" value="{{plane}}">zplane{{plane}}</option>
                        </select>
                    </div ><!--form-group-->
                    <div class="form-group" tooltip-placement="top-left" tooltip-append-to-body=true
                            uib-tooltip="Select vertex data value to display. Currently displaying {{mesh.dataKey}}: {{mesh.propInfo[mesh.dataKey].title}} ">
                        <select class="form-control" ng-change="mesh.onClickDataHdr(mesh.dataKey)" ng-model="mesh.dataKey">
                            <option ng-repeat="prop in mesh.propInfo" value="{{prop.id}}" uib-tooltip="{{prop.title}}">
                                {{prop.name}}</option>
                        </select>
                    </div ><!--form-group-->
                </form>
                <div ng-show="mesh.roiStats[mesh.dataKey].count">
                    &nbsp;<span tooltip-placement="top-left"
                        tooltip-append-to-body=true
                        uib-tooltip="Number of scanned data values"><b>N</b>:{{mesh.roiStats[mesh.dataKey].count}}</span>
                    &nbsp;<span tooltip-placement="top-left"
                        tooltip-append-to-body=true
                        uib-tooltip="Mean value of scanned data values"><b>&#x03bc;</b>:{{mesh.roiStats[mesh.dataKey].mean}}</span>
                    &nbsp;<span tooltip-placement="top-left"
                        tooltip-append-to-body=true
                        uib-tooltip="Standard deviation of scanned data values"><b>&#x03c3;</b>:{{mesh.roiStats[mesh.dataKey].stdDev}}</span>
                    &nbsp;<span tooltip-placement="top-left"
                        tooltip-append-to-body=true
                        uib-tooltip="Number of vertices in region of interest and in mesh" 
                        ng-show="mesh.roiData.length"><b>roi</b>:{{mesh.roiVertices.length}}/{{mesh.vertices.length}}</span>
                    &nbsp;<span tooltip-placement="top-left"
                        ng-show="mesh.model.client.comment"
                        tooltip-append-to-body=true
                        uib-tooltip="User-provided dataset comment" 
                        >&#x201c;{{mesh.model.client.comment}}&#x201d;</span>
                </div><!--form-group-->
                <div style="height:400px; width:400px" >
                    <svg class="" width="100%" height="100%"
                        ng-mousedown="mesh.onMouseDown($event)">
                        <g ng-attr-opacity="{{camera.reticle.opacity}}" ng-attr-stroke="{{'grey'}}" 
                            transform="translate(200,200) scale(-1,1)"
                            stroke-width="1">
                            <!-- mesh boundary -->
                            <circle cx="0" cy="0" 
                                ng-attr-r="{{mesh.model.config.rIn}}" 
                                stroke="none"
                                fill="{{mesh.color.meshFill}}">
                            </circle>
                            <!--scanning ROI-->
                            <rect ng-if="mesh.model.client.roi.type === 'rect'"
                                ng-attr-x="{{mesh.model.client.roi.cx-mesh.model.client.roi.width/2}}" 
                                ng-attr-y="{{mesh.model.client.roi.cy-mesh.model.client.roi.height/2}}" 
                                ng-attr-width="{{mesh.model.client.roi.width}}"
                                ng-attr-height="{{mesh.model.client.roi.height}}"
                                rx="10" ry="10"
                                fill="{{mesh.color.roiFill}}"/>
                            <!--axes-->
                            <line x1="-200" y1="0" x2="200" y2="0" />
                            <line x1="0" y1="-200" x2="0" y2="200" />
                            <line x1="100" y1="-200" x2="100" y2="200"  stroke-dasharray="2,2"/>
                            <line x1="-100" y1="-200" x2="-100" y2="200" stroke-dasharray="2,2" />
                            <line x1="-200" y1="100" x2="200" y2="100"  stroke-dasharray="2,2"/>
                            <line x1="-200" y1="-100" x2="200" y2="-100" stroke-dasharray="2,2" />
                            <!--vertices-->
                            <circle ng-repeat="v in mesh.selection" 
                                ng-attr-cx="{{v.x}}", ng-attr-cy="{{v.y}}" 
                                ng-attr-r="{{mesh.vertexRadius(v)+3}}" 
                                ng-attr-stroke="{{mesh.color.vertexStrokeSelected}}" 
                                stroke-width="3"
                                fill="{{mesh.vertexFill(v)}}">
                            </circle>
                            <g ng-if="mesh.roiVertices.length">
                                <circle ng-repeat="v in mesh.roiVertices" 
                                    ng-attr-cx="{{v.x}}", ng-attr-cy="{{v.y}}" 
                                    ng-attr-r="{{mesh.vertexRadius(v)}}" 
                                    ng-attr-stroke="{{mesh.vertexStroke(v)}}" 
                                    fill="{{mesh.vertexFill(v)}}"/>
                             </g>

                         </g>
                             <g transform="translate(330,340)" ng-show="mesh.roiStats[mesh.dataKey].count" >
                                <rect x="-5" y="-5" width="75" height="65" rx="5" ry="5" fill="{{mesh.color.roiFill}}"/>
                                <rect x="0" y="0" width="15" height="10" fill="{{mesh.propInfo[mesh.dataKey].palette[4]}}"/>
                                <text height="10" x="20" y="8" fill="#fff">&gt;&nbsp;&nbsp;&#x03bc;+&#x03c3;</text>
                                <rect x="0" y="12" width="15" height="8" fill="{{mesh.propInfo[mesh.dataKey].palette[3]}}"/>
                                <text height="10" x="20" y="20" fill="#fff">&gt;&nbsp;&nbsp;&#x03bc;+&#x03c3;/4</text>
                                <rect x="0" y="24" width="15" height="8" fill="{{mesh.propInfo[mesh.dataKey].palette[2]}}"/>
                                <text height="10" x="20" y="32" fill="#fff">&#x2245;&nbsp;&#x03bc;</text>
                                <rect x="0" y="36" width="15" height="8" fill="{{mesh.propInfo[mesh.dataKey].palette[1]}}"/>
                                <text height="10" x="20" y="44" fill="#fff">&lt;&nbsp;&nbsp;&#x03bc;-&#x03c3;/4</text>
                                <rect x="0" y="48" width="15" height="8" fill="{{mesh.propInfo[mesh.dataKey].palette[0]}}"/>
                                <text height="10" x="20" y="56" fill="#fff">&lt;&nbsp;&nbsp;&#x03c3;</text>
                                
                             </g>
                    </svg>
                </div> <!-- svg -->
            </div> <!-- col -->
            <div class="col-sm-5">
                <div style="margin-bottom:5px;">
                    <button class="btn btn-primary"
                        ng-click='mesh.confirm_scanROI=true' 
                        ng-disabled="!firestep.isAvailable() || alerts.isBisy()"
                        uib-tooltip="Create FireKue job to scan region of interest (ROI) and analyze selected properties">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Scan ROI</button>
                    <div class="fn-confirm-container" ng-show="mesh.confirm_scanROI">
                        <div>
                            Add jobs to scan {{mesh.roiVertices.length}} mesh ROI vertices?
                        </div>
                        <div class="fn-confirm-buttons">
                            <button class="btn btn-default btn-sm" 
                                ng-click='mesh.confirm_scanROI=false'>Cancel</button>
                            <button class="btn btn-danger btn-sm" 
                                ng-click='mesh.scanROI()'>Add Jobs</button>
                        </div>
                    </div><!--fn-confirm-container-->
                    <button class="btn btn-primary" 
                        ng-click='mesh.scanVertex(v)' 
                        ng-disabled="!firestep.isInitialized() || alerts.isBusy() || !mesh.selection || !mesh.selection[0]"
                        ng-repeat="v in [mesh.selection[0]]"
                        uib-tooltip="Move to and scan selected vertex">
                        Scan Vertex</button>
                </div><!--buttons-->
                <table class="table table-condensed table-hover" ng-repeat="v in mesh.selection">
                    <caption>Mesh Scan Level {{v.level}} Vertex Properties</caption>
                    <tr class="" >
                        <th tooltip-placement="top-left"
                            tooltip-append-to-body=true
                            uib-tooltip="Scan vertex location" >Location</th>
                        <td>x:{{v.x}}<br>y:{{v.y}}<br>z:{{v.z}} (zplane{{mesh.mesh.vertexZPlane(v)}})</td>
                    </tr>
                    <tr class="" ng-repeat="prop in mesh.propNames">
                        <th class="col-sm-1 fn-row-data"
                            tooltip-placement="top-left"
                            tooltip-append-to-body=true
                            uib-tooltip="{{mesh.propInfo[prop].title}}"
                            >{{mesh.propInfo[prop].name}}</th>
                        <td class="fn-row-data">{{v[prop]}}</td>
                    </tr>
                    <tr class="" ng-show="v.note">
                        <th class="col-sm-1 fn-row-data">Note</th>
                        <td class="fn-row-data">{{v.note}}</td>
                    </tr>
                </table>
                <div ng-repeat="cam in [camera.model.selected]" ng-show="mesh.isAtVertex()">
                    <button class="btn btn-primary" ng-click='camera.onChange()'
                        title="capture image">
                        <span class='glyphicon glyphicon-eye-open '></span></button>
                    <button class="btn {{camera.refreshClass()}}" ng-click='camera.onAutoCapture()'
                        title="auto-capture image">
                        <span class='glyphicon glyphicon-refresh'></span></button>
                    <button class="btn btn-primary" 
                        title="hide/show crosshair and/or reticle" ng-click='camera.onReticle()'>
                        <span class='glyphicon glyphicon-screenshot'></span></button>
                    <button class="btn btn-primary" 
                        title="change image size" ng-click='camera.onResize()'>
                        <span class='glyphicon glyphicon-resize-full'></span></button>
                    <div ng-include="'partials/image.html'" onload="img='/camera/'+camera.model.selected+'/image.jpg'"></div>
                </div> <!-- cam -->
            </div> <!-- col -->
        </div> <!-- row -->

        <div class="fr-more" ng-if="!flags.moreMesh" ng-click='onMore("moreMesh")' >more...</div>
        <div class="fr-more" ng-if="flags.moreMesh" ng-click='onMore("moreMesh")' >less...</div>
            <table ng-if="flags.moreMesh" class="table table-condensed table-striped">
                <tr class="row fn-more" ng-if="mesh.mesh">
                    <th class="col-sm-2 fn-row-label"
                        tooltip-placement="top-left"
                        tooltip-append-to-body="true"
                        uib-tooltip="Notes for displayed dataset">
                        Comment
                    </th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group" >
                                <input type="text" class="form-control" 
                                    placeholder="Enter comment"
                                    ng-model="mesh.model.client.comment" />
                            </div><!--form-group-->
                        </form>
                    </td> <!-- col -->
                </tr> 
                <tr class="row fn-more" ng-if="mesh.mesh">
                    <th class="col-sm-2 fn-row-label"
                        tooltip-append-to-body="true"
                        tooltip-placement="top-left"
                        uib-tooltip="Scan density is determined by mesh refinement level">
                        Scanning Constraints
                    </th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group"> 
                                <label
                                    tooltip-placement="top-left"
                                    uib-tooltip="Z-planes to include in scan (bottom is plane 0)."
                                    >planes</label>
                                <div class="checkbox" ng-repeat="plane in [0,1]"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="top-left"
                                    uib-tooltip="Scanning plane">
                                    <label>
                                        <input type="checkbox" ng-model="mesh.model.client.scanPlanes[plane]"
                                            ng-value="plane" >{{plane}}&nbsp;&nbsp;
                                   </label>
                                </div>
                            </div><!--form-group-->
                            <div class="form-group" >
                                <label 
                                    tooltip-placement="top-left"
                                    uib-tooltip="Maximum RMS error culls data outliers for scan properties having RMS error."
                                    >maxRMSE</label>
                                <input type="number" class="form-control input-sm" ng-model="mesh.model.client.maxRMSE" 
                                    step="any"></input>
                            </div><!--form-group-->
                        </form>
                    </td> <!-- col -->
                </tr> 
                <tr class="row fn-more" ng-if="mesh.mesh" >
                    <th class="col-sm-2 fn-row-label"
                        tooltip-placement="top-left"
                        tooltip-append-to-body="true"
                        uib-tooltip="Select properties to measure in the scanning region of interest">
                        Scan Properties
                    </th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group" >
                                <div class="checkbox" ng-repeat="id in mesh.propNames"
                                    tooltip-append-to-body="true"
                                    tooltip-placement="top-left"
                                    uib-tooltip="{{mesh.propInfo[id].title}} ({{id}})" >
                                    <label>
                                        <input type="checkbox" ng-model="mesh.model.client.props[id]"
                                            ng-change="mesh.onChangeProperty(prop)" ng-value="id">{{mesh.propInfo[id].name}}&nbsp;&nbsp;
                                   </label>
                                </div>
                            </div>
                        </form>
                    </td> 
                </tr> 
                <tr class="row fn-more" ng-if="mesh.mesh">
                    <th class="col-sm-2 fn-row-label" 
                        tooltip-placement="top-left"
                        tooltip-append-to-body="true"
                        uib-tooltip="Scanning region of interest (ROI) defines vertices to scan and measure">
                        Region of Interest
                        <p style="font-weight:normal"><var>{{mesh.roiVertices.length}} of {{mesh.vertices.length}} vertices</var></p>
                    </th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="input-group col-sm-2">
                                <label tooltip-append-to-body="true"
                                    tooltip-placement="top-left"
                                    uib-tooltip="Shope of region of interest"
                                    >type</label>
                                <select class="form-control" 
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.model.client.roi.type">
                                    <option value="">None</option>
                                    <option value="rect">Rectangle</option>
                                </select>
                            </div>
                            <div class="input-group col-sm-2" ng-if="mesh.model.client.roi.type === 'rect'">
                                <label tooltip-append-to-body="true"
                                    tooltip-placement="top-left"
                                    uib-tooltip="Center x-coordinate of region of interest"
                                    >cx</label>
                                <input class="form-control input-sm " type="number" step="any"
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.model.client.roi.cx"></input>
                            </div>
                            <div class="input-group col-sm-2" ng-if="mesh.model.client.roi.type === 'rect'">
                                <label tooltip-append-to-body="true"
                                    tooltip-placement="top-left"
                                    uib-tooltip="Center y-coordinate of region of interest"
                                    >cy</label>
                                <input class="form-control input-sm " type="number" step="any"
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.model.client.roi.cy"></input>
                            </div>
                            <div class="input-group col-sm-2" ng-if="mesh.model.client.roi.type === 'rect'">
                                <label tooltip-append-to-body="true"
                                    tooltip-placement="top-left"
                                    uib-tooltip="width of scanning rectangle"
                                    >width</label>
                                <input class="form-control input-sm " type="number" step="any"
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.model.client.roi.width"></input>
                            </div>
                            <div class="input-group col-sm-2" ng-if="mesh.model.client.roi.type === 'rect'">
                                <label tooltip-append-to-body="true"
                                    tooltip-placement="top-left"
                                    uib-tooltip="height of scanning rectangle"
                                    >height</label>
                                <input class="form-control input-sm " type="number" step="any"
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.model.client.roi.height"></input>
                            </div>
                        </form>
                    </td>
                </tr> 
                <tr class="row">
                    <th class="col-sm-2 fn-row-label">Mesh</th>
                    <td class="col-sm-10 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group" uib-tooltip="Mesh topology">
                                <select class="form-control" ng-model="mesh.model.config.type">
                                    <option value="DeltaMesh">DeltaMesh (pyramid tetrahedron mesh)</option>
                                </select>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr class="row">
                    <th class="col-sm-2 fn-row-label">&nbsp;</th>
                    <td class="col-sm-10 fn-row-data">
                        <form class="form-inline" >
                            <div class="form-group">
                                <div class="input-group col-sm-2" >
                                    <label uib-tooltip="Lowest calibration z-plane (nominal)"
                                        tooltip-class="fn-tooltip" >zMin</label>
                                    <input class="form-control input-sm " type="number" step="any"
                                        ng-model="mesh.view.config.zMin"></input>
                                </div>
                                <div class="input-group col-sm-2">
                                    <label uib-tooltip="highest mesh z-coordinate"
                                        tooltip-class="fn-tooltip" >zMax</label>
                                    <input class="form-control input-sm " type="number" step="any"
                                        ng-model="mesh.view.config.zMax"></input>
                                </div>
                                <div class="input-group col-sm-2">
                                    <label uib-tooltip="Radius of circle that designates scannable mesh vertices"
                                        tooltip-class="fn-tooltip">rIn</label>
                                    <input class="form-control input-sm " type="number" step="any" min="0"
                                        ng-model="mesh.view.config.rIn"></input>
                                </div>
                                <div class="input-group col-sm-2">
                                    <label uib-tooltip="Number of mesh vertex z-planes"
                                        tooltip-class="fn-tooltip" >zPlanes</label>
                                    <input class="form-control input-sm " type="number" step="any" min="3" max="8"
                                        ng-model="mesh.view.config.zPlanes"></input>
                                </div>
                                <div class="input-group col-sm-2">
                                    <label uib-tooltip="Z-distance between calibration z-planes"
                                        tooltip-class="fn-tooltip">zPlane Height</label>
                                    {{mesh.mesh.zPlaneHeight(0)}}
                                </div>
                            </div><!--form-group-->
                        </form>
                    </td>
                </tr>
                <tr class="row">
                    <th class="col-sm-2 fn-row-label">&nbsp;</th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group" uib-tooltip="Create mesh">
                                <button class="btn btn-default " ng-show="mesh.actionName() === 'Apply'"
                                    ng-click='mesh.cancel()'>
                                    Cancel</button>
                                <button class="btn btn-primary " 
                                    ng-disabled="flags.meshConfigure"
                                    ng-click='flags.meshConfigure = true'
                                    uib-tooltip="Clear all current data and reconfigure calibration scanning mesh">
                                    {{mesh.actionName()}}</button>
                                <div class="fn-confirm-right" style="left:9em" ng-show="flags.meshConfigure">
                                    <div>{{mesh.actionName()}} configuration and clear mesh measurements?</div>
                                    <div>
                                        <button class="btn btn-default fn-btn-confirm"   
                                            ng-click='flags.meshConfigure = false'>
                                            Cancel</button>
                                        <button class="btn btn-danger fn-btn-confirm"  
                                            ng-click='mesh.configure(); flags.meshConfigure = false'>
                                            {{mesh.actionName()}}</button>
                                    </div>
                                </div><!--confirm-->
                            </div><!--form-group-->
                        </form>
                    </td> 
                </tr> 
            </table>
        </div> <!-- moreMesh -->

    </div><!--panel-body-->
</div><!--panel-->

<div class="panel panel-default" ng-if="mesh.roiData.length">
    <div class="panel-heading"
        ng-click='onMore("moreScanData")' >
        <h3 class="panel-title">
            <span 
                tooltip-placement="top-left"
                uib-tooltip="Show scanned data table" >
                View mesh data ({{mesh.roiData.length}})</span>
            <span ng-class="availableIcon(mesh.isAvailable())"></span>
        </h3> 
    </div><!--panel-heading-->
    <div class="panel-body" ng-if="flags.moreScanData">
        <div class="row">
            <!-- mesh data table-->
            <table class="table table-condensed table-hover" >
                <tr >
                    <th class="fn-mesh-data " ng-repeat="h in ['x','y','z']"
                        ng-click="mesh.onClickDataHdr(h)" 
                        tooltip-append-to-body="true"
                        tooltip-placement="top-left"
                        uib-tooltip="vertex coordinate">{{mesh.dataHdrIndicator(h)}} {{h}}</th>
                    <th class="fn-mesh-data " ng-repeat="prop in mesh.propNames"
                        ng-click="mesh.onClickDataHdr(prop)" 
                        tooltip-placement="top-left"
                        tooltip-append-to-body="true"
                        uib-tooltip="{{mesh.propInfo[prop].name}}: {{mesh.propInfo[prop].title}}"
                        ng-if="mesh.model.client.props[prop]">{{mesh.dataHdrIndicator(prop)}} {{prop}}</th>
                </tr>
                <tr ng-repeat="d in mesh.roiData" class="{{mesh.dataClass(d)}}" 
                    ng-click="mesh.onClickData(d)">
                    <td ng-repeat="axis in ['x','y','z']" 
                        class="fn-mesh-data" >
                        <span class="fn-mesh-palette" style="color:{{mesh.dataFill(d[axis])}}" 
                            ng-if="mesh.dataKey === axis">&nbsp;&#x25cf;&nbsp;</span> 
                        {{d[axis]}}</td>
                    <td class="fn-mesh-data" ng-repeat="prop in mesh.propNames"
                        ng-if="mesh.model.client.props[prop]">
                        <span class="fn-mesh-palette" style="color:{{mesh.dataFill(d[prop])}}" 
                            ng-if="mesh.dataKey === prop">&nbsp;&#x25cf;&nbsp;</span> 
                            {{d[prop]}}</td>
                </tr>
                <caption>
                    {{mesh.dataKey}}
                    count:{{mesh.roiStats[mesh.dataKey].count}}
                    mean:{{mesh.roiStats[mesh.dataKey].mean}}
                    stdDev:{{mesh.roiStats[mesh.dataKey].stdDev}}
                </caption>
            </table>
        </div> <!-- row -->
    </div><!--panel-body-->
</div><!--panel-->
