<div class="panel panel-default" 
    title="REST facade for vision-capable factory robots">
    <div class="panel-heading" ng-click='onMore("moreDiscover")'>
        <h3 class="panel-title">
            Discover <a href="https://github.com/firepick1/firenodejs/wiki" target="_blank">
            <samp>/firenodejs</samp></a>
        </h3>
    </div><!--panel-heading-->
    <div class="panel-body" ng-if="flags.moreDiscover">
        <a href="https://github.com/firepick1/firenodejs/wiki">
        <img src="img/firenodejs-alpha.png" class="fn-inline-logo">
        </a>
        is a REST facade for vision-capable factory robots that integrates the following 
        individual REST services:

        <dl class="dl-horizontal">
            <dt><samp>/firenodejs</samp></dt>
            <dd>REST service for service meta-data and integration facade.</dd>
            <dt><samp>/camera</samp></dt>
            <dd>REST service for image acquisition. Supports <samp>raspistill</samp> as well as USB cameras</dd>
            <dt><samp>/firestep</samp></dt>
            <dd>REST service for motion control. High-level
                <a href="https://github.com/firepick1/FireStep/wiki" target="_blank">FireStep&trade;</a>
                driver generates application-specific complex 
                <a href="http://www.springer.com/us/book/9783540733973" target="_blank">PH5</a> 
                paths for 
                <a href="https://github.com/firepick1/FireStep/wiki" target="_blank">FireStep&trade;</a>
                motion controllers.
                Supports FirePick Delta and 
                <a href="https://github.com/firepick1/FireSlide" target="_blank">FireSlide&trade;</a> robots</dd>
            <dt><samp>/images</samp></dt>
            <dd>REST service for image storage stores images indexed by camera and location.</dd>
            <dt><samp>/firesight</samp></dt>
            <dd>REST service for 
                <a href="https://github.com/firepick1/FireSight/wiki" target="_blank">FireSight&trade;</a>
                image processing.
            </dd>
            <dt><samp>/measure</samp></dt>
            <dd>REST service for measuring precision and accuracy.
            </dd>
        </dl>

        <div class="fr-more" ng-if="!flags.more_firenodejs" ng-click='onMore("more_firenodejs")' >more...</div>
        <div class="fr-more" ng-if="flags.more_firenodejs" ng-click='onMore("more_firenodejs")' >less...</div>
        <div ng-if="flags.more_firenodejs">

        <h4>Features</h4>
        Supported platforms:
        <ul>
        <li><a href="https://github.com/firepick1/firenodejs/wiki/Raspberry-Pi">Raspberry Pi: Model B, Model B+, Pi 2 Model B</a> with Raspbian/Jessie
        <li><a href="https://github.com/firepick1/firenodejs/wiki/Install">other Linux platforms</a> with Debian 
        </ul>

        Supported robots:
        <ul>
        <li> FirePick Delta
        </ul>

        Supported applications:
        <ul>
        <li> <a href=http://openpnp.org/>OpenPnP (unavailable but designs in progress)</a>
        </ul>

            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-condensed table-striped">
                       <tr class="row" ng-repeat="(key,value) in firenodejs.models">
                            <th class="col-sm-1 text-right">{{key}}</th>
                            <td class="col-sm-7">{{value}}</td>
                        </tr>
                    </table>
                </div><!-- col-->
            </div> <!-- row -->
        </div>
    </div><!--panel-body-->
</div><!--panel-->
