<div class="panel panel-default">
    <div class="panel-heading"
        ng-click='onMore("moreScan")' 
        title="Scan region of interest in DeltaMesh to gather data for interpolation" >
        <h3 class="panel-title">
            Scan <a href=https://github.com/firepick1/firenodejs/wiki/REST-mesh target=_blank>
                <samp>/mesh</samp></a> 
            <span ng-class="availableIcon(mesh.isAvailable())"></span>
        </h3> 
    </div><!--panel-heading-->
    <div class="panel-body" ng-if="flags.moreScan">
        <div class="row">
            <div class="col-sm-7">
                <label>
                    {{mesh.model.config.type}} 
                    <span ng-show="mesh.vertices.length">vertices:{{mesh.vertices.length}}</span>
                    <span ng-show="mesh.roiCount">roi:{{mesh.roiCount}}</span>
                </label>
                <div style="height:400px; width:400px" >
                    <svg class="" width="100%" height="100%"
                        ng-mousedown="mesh.onMouseDown($event)">
                        <g ng-attr-opacity="{{camera.reticle.opacity}}" ng-attr-stroke="{{'grey'}}" 
                            transform="translate(200,200) scale(-1,1)"
                            stroke-width="1">
                            <!--scanning ROI-->
                            <rect ng-if="mesh.client.roi.type === 'rect'"
                                ng-attr-x="{{mesh.client.roi.cx-mesh.client.roi.width/2}}" 
                                ng-attr-y="{{mesh.client.roi.cy-mesh.client.roi.height/2}}" 
                                ng-attr-width="{{mesh.client.roi.width}}"
                                ng-attr-height="{{mesh.client.roi.height}}"
                                rx="10" ry="10"
                                stroke-dasharray="2,2"
                                ng-attr-stroke="{{mesh.color.activeScan}}" fill="none" />
                            <!--axes-->
                            <line x1="-200" y1="0" x2="200" y2="0" />
                            <line x1="0" y1="-200" x2="0" y2="200" />
                            <!--vertices-->
                            <g ng-if="mesh.vertices && mesh.vertices.length">
                                <circle ng-repeat="v in mesh.vertices" 
                                    ng-attr-cx="{{v.x}}", ng-attr-cy="{{v.y}}" 
                                    ng-attr-r="{{mesh.vertexRadius(v)}}" 
                                    ng-attr-stroke="{{mesh.vertexStroke(v)}}" 
                                    fill="{{mesh.vertexFill(v)}}"/>
                             </g>

                             <circle ng-repeat="v in mesh.selection" 
                                 ng-attr-cx="{{v.x}}", ng-attr-cy="{{v.y}}" 
                                 ng-attr-r="{{mesh.vertexRadius(v)+2}}" 
                                 ng-attr-stroke="{{mesh.color.vertexStrokeSelected}}" 
                                 stroke-width="3"
                                 fill="{{mesh.vertexFill(v)}}">
                             </circle>
                         </g>
                    </svg>
                </div> <!-- svg -->
            </div> <!-- col -->
            <div class="col-sm-5">
                <div style="margin-bottom:5px">
                    <button class="btn btn-primary"
                        ng-click='mesh.scanROI()' 
                        ng-disabled="!firestep.isAvailable() || alerts.isBisy()"
                        ng-class="mesh.scan.buttonClass()"
                        title="Create FireKue job to scan region of interest (ROI) and analyze selected properties">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Scan ROI</button>
                    <button class="btn btn-primary" 
                        ng-click='mesh.scanVertex(v)' 
                        ng-disabled="!firestep.isAvailable() || alerts.isBusy() || !mesh.selection || !mesh.selection[0]"
                        ng-repeat="v in [mesh.selection[0]]"
                        title="Move to and scan selected vertex">
                        Scan Vertex</button>
                </div><!--buttons-->
                <table class="table table-condensed table-hover" ng-repeat="v in mesh.selection">
                    <caption>Mesh Scan Level {{v.level}} Vertex Properties</caption>
                    <tr class="" title="Scanning mesh vertex location and level">
                        <th >Location</th>
                        <td>x:{{v.x}}<br>y:{{v.y}}<br>z:{{v.z}}</td>
                    </tr>
                    <tr class="" ng-repeat="prop in mesh.propNames" title="{{mesh.propInfo(prop).title}}">
                        <th class="col-sm-1 fn-row-data">{{mesh.propInfo(prop).name}}</th>
                        <td class="fn-row-data">{{v[prop]}}</td>
                    </tr>
                </table>
                <div ng-repeat="cam in [camera.model.selected]" ng-show="mesh.selection[0]">
                    <div ng-include="'partials/image.html'" onload="img='/camera/'+camera.model.selected+'/image.jpg'"></div>
                </div> <!-- cam -->
            </div> <!-- col -->
        </div> <!-- row -->
        <div class="row">
            <div>&nbsp;<input type="checkbox" ng-model="flags.meshData"> Show scanned mesh data</div>
            <table class="table table-condensed table-hover" ng-if="flags.meshData">
                <tr >
                    <th class="fn-mesh-data " title="vertex coordinate">x</th>
                    <th class="fn-mesh-data" title="vertex coordinate">y</th>
                    <th class="fn-mesh-data" title="vertex coordinate">z</th>
                    <th class="fn-mesh-data" ng-repeat="prop in mesh.propNames"
                        title="{{mesh.propInfo(prop).name}}: {{mesh.propInfo(prop).title}}"
                        ng-if="mesh.model.client.props[prop]">{{prop}}</th>
                </tr>
                <tr ng-repeat="d in mesh.view.config.data" class="{{mesh.dataClass(d)}}" ng-if="d.show">
                    <td class="fn-mesh-data" title="vertex coordinate">{{d.x}}</td>
                    <td class="fn-mesh-data" title="vertex coordinate">{{d.y}}</td>
                    <td class="fn-mesh-data" title="vertex coordinate">{{d.z}}</td>
                    <td class="fn-mesh-data" ng-repeat="prop in mesh.propNames"
                        title="{{mesh.propInfo(prop).name}}: {{mesh.propInfo(prop).title}}"
                        ng-if="mesh.model.client.props[prop]">{{d[prop]}}</td>
                </tr>
            </table>
        </div> <!-- row -->

        <div class="fr-more" ng-if="!flags.moreMesh" ng-click='onMore("moreMesh")' >more...</div>
        <div class="fr-more" ng-if="flags.moreMesh" ng-click='onMore("moreMesh")' >less...</div>
            <table ng-if="flags.moreMesh" class="table table-condensed table-striped">
                <tr class="row fn-more" ng-if="mesh.mesh"
                    title="Scan density is determined by mesh refinement level">
                    <th class="col-sm-2 fn-row-label">
                        Scan Level
                    </th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group" title="Maximum mesh refinement level to include in scans">
                                <div class="radio" ng-repeat="lvl in mesh.levels">
                                    <label>
                                        <input type="radio" ng-model="mesh.model.config.maxLevel" 
                                            ng-change="mesh.onChangeLevel()" ng-value="lvl">{{lvl}}&nbsp;&nbsp;
                                   </label>
                                </div>
                            </div>
                        </form>
                    </div> <!-- col -->
                </tr> 
                <tr class="row fn-more" ng-if="mesh.mesh" title="Select properties to measure in the scanning region of interest">
                    <th class="col-sm-2 fn-row-label">
                        Scan Properties
                    </th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group" >
                                <div class="checkbox" ng-repeat="id in mesh.propNames"
                                    title="{{mesh.propInfo(id).title}} ({{id}})" >
                                    <label>
                                        <input type="checkbox" ng-model="mesh.model.client.props[id]"
                                            ng-change="mesh.onChangeProperty(prop)" ng-value="id">{{mesh.propInfo(id).name}}&nbsp;&nbsp;
                                   </label>
                                </div>
                            </div>
                        </form>
                    </div> <!-- col -->
                </tr> 
                <tr class="row fn-more" ng-if="mesh.mesh">
                    <th class="col-sm-2 fn-row-label" title="Scanning region of interest (ROI) defines vertices to scan and measure">
                        Region of Interest
                        <p style="font-weight:normal"><var>{{mesh.roi_vertices.length}} of {{mesh.vertices.length}} vertices</var></p>
                    </th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="input-group col-sm-2">
                                <label >type</label>
                                <select class="form-control" 
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.client.roi.type">
                                    <option value="">None</option>
                                    <option value="rect">Rectangle</option>
                                </select>
                            </div>
                            <div class="input-group col-sm-2" ng-if="mesh.client.roi.type === 'rect'">
                                <label >cx</label>
                                <input class="form-control input-sm " type="number" step="any"
                                    title="center x-coordinate of scanning rectangle"
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.client.roi.cx"></input>
                            </div>
                            <div class="input-group col-sm-2" ng-if="mesh.client.roi.type === 'rect'">
                                <label >cy</label>
                                <input class="form-control input-sm " type="number" step="any"
                                    title="center y-coordinate of scanning rectangle"
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.client.roi.cy"></input>
                            </div>
                            <div class="input-group col-sm-2" ng-if="mesh.client.roi.type === 'rect'">
                                <label >width</label>
                                <input class="form-control input-sm " type="number" step="any"
                                    title="width of scanning rectangle"
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.client.roi.width"></input>
                            </div>
                            <div class="input-group col-sm-2" ng-if="mesh.client.roi.type === 'rect'">
                                <label >height</label>
                                <input class="form-control input-sm " type="number" step="any"
                                    title="height of scanning rectangle"
                                    ng-change="mesh.validate()"
                                    ng-model="mesh.client.roi.height"></input>
                            </div>
                        </form>
                    </div> <!-- col -->
                </tr> 
                <tr class="row">
                    <th class="col-sm-2 fn-row-label">Mesh</th>
                    <td class="col-sm-10 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group" title="Mesh topology">
                                <select class="form-control" ng-model="mesh.model.config.type">
                                    <option value="DeltaMesh">DeltaMesh (pyramid tetrahedron mesh)</option>
                                </select>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr class="row">
                    <th class="col-sm-2 fn-row-label">&nbsp;</th>
                    <td class="col-sm-10 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group col-sm-2">
                                    <label >zMin</label>
                                    <input class="form-control input-sm " type="number" step="any"
                                        title="Lowest calibration z-plane (nominal)"
                                        ng-model="mesh.view.config.zMin"></input>
                                </div>
                                <div class="input-group col-sm-2">
                                    <label >zMax</label>
                                    <input class="form-control input-sm " type="number" step="any"
                                        title="highest mesh z-coordinate"
                                        ng-model="mesh.view.config.zMax"></input>
                                </div>
                                <div class="input-group col-sm-2">
                                    <label >rIn</label>
                                    <input class="form-control input-sm " type="number" step="any" min="0"
                                        title="Radius of circle that designates scannable mesh vertices"
                                        ng-model="mesh.view.config.rIn"></input>
                                </div>
                                <div class="input-group col-sm-2">
                                    <label >zPlanes</label>
                                    <input class="form-control input-sm " type="number" step="any" min="3" max="8"
                                        title="Number of mesh vertex z-planes"
                                        ng-model="mesh.view.config.zPlanes"></input>
                                </div>
                            </div><!--form-group-->
                        </form>
                    </td>
                </tr>
                <tr class="row">
                    <th class="col-sm-2 fn-row-label">&nbsp;</th>
                    <td class="col-sm-8 fn-row-data">
                        <form class="form-inline">
                            <div class="form-group" title="Create mesh">
                                <button class="btn btn-default " ng-show="mesh.actionName() === 'Apply'"
                                    ng-click='mesh.cancel()'>
                                    Cancel</button>
                                <button class="btn btn-primary " 
                                    ng-disabled="flags.meshConfigure"
                                    ng-click='flags.meshConfigure = true'
                                    title="Clear all current data and reconfigure calibration scanning mesh">
                                    {{mesh.actionName()}}</button>
                                <div class="fn-confirm-right" style="left:9em" ng-show="flags.meshConfigure">
                                    <div>{{mesh.actionName()}} configuration and clear mesh measurements?</div>
                                    <div>
                                        <button class="btn btn-default fn-btn-confirm"   
                                            ng-click='flags.meshConfigure = false'>
                                            Cancel</button>
                                        <button class="btn btn-danger fn-btn-confirm"  
                                            ng-click='mesh.configure(); flags.meshConfigure = false'>
                                            {{mesh.actionName()}}</button>
                                    </div>
                                </div><!--confirm-->
                            </div><!--form-group-->
                        </form>
                    </td> 
                </tr> 
            </table>
        </div> <!-- moreMesh -->

    </div><!--panel-body-->
</div><!--panel-->
