<table class="table table-hover" >
    <thead>
        <tr class="row">
            <th class="col-sm-1">job</th>
            <th class="col-sm-10">details</th>
            <th class="col-sm-1 ">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="job in firekue.jobs" class="row {{firekue.tr_class(job)}}" ng-show="states.hasOwnProperty(job.state)">
            <td class="col-sm-1" class="fn-job-progress" title="job #{{job.id}} is {{job.state}}@{{job.progress*100}}%">
                <div>{{job.id}}</div>
                <div ng-show="firekue.show.type">{{job.type}}</div>
                <div ng-repeat="d in [0,0.2,0.4,0.6,0.8,1]" 
                    class="fn-job-progress-bar fn-job-progress-bar-{{job.state}}" ng-show="d<=job.progress">&nbsp;
                </div><div 
                    ng-repeat="d in [0,0.2,0.4,0.6,0.8,1]" 
                    class="fn-job-progress-bar fn-job-progress-bar-tbd" ng-show="d>job.progress">&nbsp;
                </div>
            </td>
            <td class="col-sm-10">
                <div ng-repeat="summary in job.summary">
                    <div ng-show="!summary.res || firekue.show.request">&#x2022; {{summary.req}}</div>
                    <div ng-show="summary.res && firekue.show.response">&#x21d2; {{summary.res}}</div>
                </div>
                <div ng-show="job.err">
                    {{job.err}}
                </div>
            </td>
            <td class="col-sm-1" title="Delete job">
                <div class="fn-delete-container">
                    <div ng-click='job.delete = true' class="fn-delete"
                        ng-hide="job.delete">
                        <span class="glyphicon glyphicon-remove "></span>
                    </div>
                </div>
                <div class="fn-delete-container">
                    <button class="btn btn-danger btn-xs" 
                        ng-show="job.delete"
                        ng-click='firekue.deleteJob(job.id)'>Delete</button>
                    <button class="btn btn-default btn-xs" 
                        ng-show="job.delete"
                        ng-click='job.delete=false'>Cancel</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
