<h4 >
    Printed Circuit Board
</h4>
<div style="position:relative; width:{{pcbsvc.model.png.width}}px">
    <img alt="(Upload PCB files)" 
        style="margin:0; padding:0"
        ng-src="/pcb/s/pcb.png?m={{pcbsvc.model.uploadCount}}"/>
    <svg style="position:absolute; width:100%; height:100%; top:0; left:0; margin:0; padding:0"
        ng-mousedown="pcbsvc.onMouseDown($event)">
            <polyline ng-repeat='si in pcbsvc.selection.items'
                ng-attr-points="{{si.points}}"
                ng-attr-stroke-width="{{pcbsvc.selection.strokeWidth}}"
                ng-attr-stroke="{{pcbsvc.model.colors.selectionStroke}}"
                ng-attr-fill="{{pcbsvc.model.colors.selectionFill}}"
                stroke-linecap="square"
                />
        </g>
    </svg>
</div>
({{pcbsvc.pcb.bounds.l}}, {{pcbsvc.pcb.bounds.b}}) 
{{pcbsvc.pcb.bounds.width}}&nbsp;x&nbsp;{{pcbsvc.pcb.bounds.height}}mm
<div class="panel panel-default">
    <div class="panel-heading fn-panel-heading"
        ng-click='onMore("morePcbFile")' 
        title="Upload Gerber files">
        <div class="fn-panel-title">
            Upload <a href="https://github.com/firepick1/firenodejs/wiki/REST-pcb" target="_blank">/pcb/file</a>
            <span ng-class="availableIcon(pcbsvc.isAvailable())"></span>
        </div>
        <button ng-show="flags.morePcbFile" 
            class="btn btn-default btn-sm fn-panel-btn"
            ng-click="pcbsvc.setDefaults();$event.cancelBubble=true">Set Defaults</button>
    </div>
    <div class="panel-body" ng-if="flags.morePcbFile" >
        <div class="fn-flex-col" ng-include='"partials/pcb-upload.html"'></div>

        <!--div class="fn-debug">{{pcbsvc.model}}</div-->
    </div><!--panel-body-->
</div><!--panel-->

<table class="table table-condensed" >
    <capion>SMD pads</caption>
    <thead style="display: block;">
        <tr>
            <th class="" 
                style="width: 2em"
                >#</th>
            <th class="fn-center fn-sortable" 
                style="width: 8em"
                title="SMD pad or Gerber aperture name (sortable)"
                ng-click='pcbsvc.orderBy(pcbsvc.pcb.smdpads, "name")'>name</th>
            <th class="fn-center fn-sortable" 
                style="width: 8em"
                title="SMD pad centroid x-coordinate (sortable)"
                ng-click='pcbsvc.orderBy(pcbsvc.pcb.smdpads, "x")'>x</th>
            <th class="fn-center fn-sortable" 
                style="width: 8em"
                title="SMD pad centroid y-coordinate (sortable)"
                ng-click='pcbsvc.orderBy(pcbsvc.pcb.smdpads, "y")'>y</th>
            <th class="fn-center fn-sortable" 
                style="width: 8em"
                title="SMD pad width (sortable)"
                ng-click='pcbsvc.orderBy(pcbsvc.pcb.smdpads, "width")'>width</th>
            <th class="fn-center fn-sortable" 
                style="width: 8em"
                title="SMD pad height (sortable)"
                ng-click='pcbsvc.orderBy(pcbsvc.pcb.smdpads, "height")'>height</th>
        </tr>
    <thead>
    <tbody style="display:block; max-height:23em; overflow-y:auto; overflow-x: hidden">
        <tr class="{{pcbsvc.padRowClass(pad)}}" ng-repeat="pad in pcbsvc.pcb.smdpads" ng-click="pcb.onClickPad(pad)" >
            <th class="" style="width:2em" >{{$index+1}}</th>
            <th class="fn-center" style="width:8em">{{pad.name}}</th>
            <td class="fn-center" style="width:8em">{{pad.x}}</td>
            <td class="fn-center" style="width:8em">{{pad.y}}</td>
            <td class="fn-center" style="width:8em">{{pad.width}}</td>
            <td class="fn-center" style="width:8em">{{pad.height}}</td>
        </tr>
    </tbody>
</table>
