<h3>firenodejs&trade;</h3>
This web application exercises the
<a href=https://github.com/firepick1/firenodejs/wiki>firenodejs</a>
REST service that controls a <a href="https://github.com/firepick1/FireStep/wiki">FireStep</a> robot with camera(s).

<div class=".container-fluid">
    <div class="row">
        <div class="col-md-1" ng-repeat="cam in ['raspistill','usb0','usb1']">
            <h4>{{cam}}</h4>
            <a href="/camera/{{cam}}/image.jpg">
            <img title="Latest firenodejs camera image" class="img-responsive img-rounded fr-img-md" 
              onerror="src='/firerest/img/no-image.png'"
              ng-src="/camera/{{cam}}/image.jpg" height="200px">
            </a>
        </div>
    </div>
</div>

<!--
<p>
    This application lets you exercise the <i>FireREST&trade;</i> protocols
    of your <i>FirePick Delta&trade;</i> micro-factory:
<ol>
<li><a href="#/cnc">Movement Protocol (FireREST&trade;/CNC)</a>
<li><a href="#/cve">Computer Vision Protocol (FireREST&trade;/CV)
<li><a href="#/vcal">Calibration Protocol (FireREST&trade;/VCAL)</a>
</ol>

<p>Other stuff:
    <ul>
<li><a href="html/vcal/grid-mm-5.html">Print FirePick Delta Calibration Grid</a>
<li><a href="#/delta">Delta Machine Simulator</a>
<li><a href="#/test">Self-test</a>
</ul>
-->
