<h3>firestep-cam</h3>
This web application exercises the
<a href=https://github.com/firepick1/firestep-cam/wiki>firestep-cam</a>
REST service that controls a <a href="https://github.com/firepick1/FireStep/wiki">FireStep</a> robot with camera(s).

<!--
<h4>
  <img class="fr-banner-logo" src="img/FireREST-alpha.png">
  Diagnostic Control and Calibration
</h4>
<p>
    This application lets you exercise the <i>FireREST&trade;</i> protocols
    of your <i>FirePick Delta&trade;</i> micro-factory:
<ol>
<li><a href="#/cnc">Movement Protocol (FireREST&trade;/CNC)</a>
<li><a href="#/cve">Computer Vision Protocol (FireREST&trade;/CV)
<li><a href="#/vcal">Calibration Protocol (FireREST&trade;/VCAL)</a>
</ol>

<p>Other stuff:
    <ul>
<li><a href="html/vcal/grid-mm-5.html">Print FirePick Delta Calibration Grid</a>
<li><a href="#/delta">Delta Machine Simulator</a>
<li><a href="#/test">Self-test</a>
</ul>
-->
