<h4 >
    Printed Circuit Board
</h4>
<div style="position:relative; width:{{pcb.model.png.width}}px">
    <img alt="(Upload PCB files)" 
        style="margin:0; padding:0"
        ng-src="/pcb/s/pcb.png?m={{pcb.model.uploadCount}}"/>
    <svg style="position:absolute; width:100%; height:100%; top:0; left:0; margin:0; padding:0">
        <polyline 
            ng-attr-points="{{pcb.selection.points}}"
            ng-attr-stroke-width="{{pcb.selection.strokeWidth}}"
            ng-attr-stroke="{{pcb.model.colors.selectionStroke}}"
            ng-attr-fill="{{pcb.model.colors.selectionFill}}"
            stroke-linecap="square"
            />
    </svg>
</div>
{{pcb.selection}}
<div class="panel panel-default">
    <div class="panel-heading"
        ng-click='onMore("morePcbFile")' 
        title="Upload Gerber files">
        <h3 class="panel-title">
            Upload <a href="https://github.com/firepick1/firenodejs/wiki/REST-pcb" target="_blank">/pcb/file</a>
            <span ng-class="availableIcon(pcb.isAvailable())"></span>
        </h3> 
    </div>
    <div class="panel-body" ng-if="flags.morePcbFile" >
        <div class="fn-flex-col" ng-include='"partials/pcb-upload.html"'></div>

        <!--div class="fn-debug">{{pcb.model}}</div-->
    </div><!--panel-body-->
</div><!--panel-->

{{pcb.cam.bounds}}
<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th ng-click='pcb.orderBy(pcb.cam.smdpads, "name")'>name<span class="fn-sort-icon glyphicon glyphicon-chevron-up"></span></th>
        <th ng-click='pcb.orderBy(pcb.cam.smdpads, "x")'>x<span class="fn-sort-icon glyphicon glyphicon-chevron-up"></span></th>
        <th ng-click='pcb.orderBy(pcb.cam.smdpads, "y")'>y<span class="fn-sort-icon glyphicon glyphicon-chevron-up"></span></th>
        <th ng-click='pcb.orderBy(pcb.cam.smdpads, "width")'>width<span class="fn-sort-icon glyphicon glyphicon-chevron-up"></span></th>
        <th ng-click='pcb.orderBy(pcb.cam.smdpads, "height")'>height<span class="fn-sort-icon glyphicon glyphicon-chevron-up"></span></th>
    </tr>
    <tr class="{{pcb.padRowClass(pad)}}" ng-repeat="pad in pcb.cam.smdpads" ng-click="pcb.onClickPad(pad)" >
        <th>{{$index}}</th>
        <th>{{pad.name}}</th>
        <td>{{pad.x}}</td>
        <td>{{pad.y}}</td>
        <td>{{pad.width}}</td>
        <td>{{pad.height}}</td>
    </tr>
</table>

