<h3>firenodejs</h3>
This web application exercises the
<a href=https://github.com/firepick1/firenodejs/wiki>firenodejs</a>
REST service that controls a <a href="https://github.com/firepick1/FireStep/wiki">FireStep</a> robot with camera(s).

<h3>Camera</h3>
<a href="/camera/image.jpg">
<img title="Latest firenodejs camera image" class="img-responsive img-rounded fr-img-md" 
  onerror="src='/firerest/img/no-image.png'"
  ng-src="/camera/image.jpg" height="200px">
</a>

<!--
<h4>
  <img class="fr-banner-logo" src="img/FireREST-alpha.png">
  Diagnostic Control and Calibration
</h4>
<p>
    This application lets you exercise the <i>FireREST&trade;</i> protocols
    of your <i>FirePick Delta&trade;</i> micro-factory:
<ol>
<li><a href="#/cnc">Movement Protocol (FireREST&trade;/CNC)</a>
<li><a href="#/cve">Computer Vision Protocol (FireREST&trade;/CV)
<li><a href="#/vcal">Calibration Protocol (FireREST&trade;/VCAL)</a>
</ol>

<p>Other stuff:
    <ul>
<li><a href="html/vcal/grid-mm-5.html">Print FirePick Delta Calibration Grid</a>
<li><a href="#/delta">Delta Machine Simulator</a>
<li><a href="#/test">Self-test</a>
</ul>
-->
