{{model}}

<div class=".container-fluid">
    <div class="row">
        <div ng-repeat="group in ['id','dim','sys','x','y','z','a','b','c']">
            <div ng-if="model[group]" class="table-responsive">
                <h5>{{group}}</h5>
                <table class="table" >
                    <tr ng-repeat="(key,value) in model[group]">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
