<h4 title="The FireKue REST service provides high-level batch job queueing and steppable execution">
    Jobs 
    <a href=https://github.com/firepick1/firenodejs/wiki/REST-firekue target=_blank>
        /firekue
    </a>
</h4>
<div class="row">
    <div class="col-sm-12">
        <form class="form">
            <div class="form-group" title="start/play/pause job">
                <button class="btn {{firekue.playPauseClass()}} " 
                    style="width:5em"
                    title='Play/pause job (TBD)'
                    ng-disabled="firekue.jobs.length===0"
                    ng-click='firekue.playPause()'><span class="glyphicon glyphicon-{{firekue.playPauseGlyph()}}"></span> </button>
                <button class="btn btn-primary " 
                    style="width:5em"
                    ng-disabled="firekue.isPlaying || firekue.jobs.length===0"
                    title='Single step job (TBD)'
                    ng-click='firekue.step()'>Step</button>
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                  <button id="single-button" type="button" 
                    title="Add predefined job"
                    class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                    Add Job&nbsp;</span><span class="caret"></span>
                  </button>
                  <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem"><a href ng-click="firekue.addJob_home_move_save(50,50,-10)">Home, move to (50,50,-10), and save image</a></li>
                    <li role="menuitem"><a href ng-click="firekue.addJob_home_move_save(-50,-50,-10)">Home, move to (-50,-50,-10), and save image</a></li>
                    <li class="divider"></li>
                  </ul>
                </div>
            </div><!--form-group-->
        </form>
    </div><!--col-->
</div><!--row-->

<div class="fr-more" ng-if="!flags.moreJobs" ng-click='onMore("moreJobs")' >more...</div>
<div class="fr-more" ng-if="flags.moreJobs" ng-click='onMore("moreJobs")' >less...</div>
<div ng-if="flags.moreJobs" >
    <table class="table">
        <tr>
            <th>Job details</th>
            <td>
                <form class="form-inline">
                    <div class="form-group" >
                        <label>Show job </label>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="firekue.show.type"></input>
                                type</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="firekue.show.request"></input>
                                request</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="firekue.show.response"></input>
                                response</label>
                        </div>
                    </div><!--form-group-->
                </form>
            </td>
        </tr>
    </table>
</div><!--moreJobs-->

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"
            ng-click='onMore("panelJobsPending")' 
            title="Active or Inactive jobs">
            <h3 class="panel-title">
                Pending 
                <a href=https://github.com/firepick1/firenodejs/wiki/REST-firekue target=_blank>
                    <samp>/firekue</samp></a> 
                ({{firekue.stats.active + firekue.stats.inactive}})
            </h3> 
        </div>
        <div class="panel-body" ng-if="flags.panelJobsPending">
            <div ng-repeat="dummyscope in [1]">
                <caption>active:{{firekue.stats.active}} inactive:{{firekue.stats.inactive}}</caption>
                <ng-include src="'partials/row-job.html'" 
                    onload="states={active:'',inactive:''}"></ng-include>
            </div>
        </div><!--panel-body-->
    </div><!--panel-->

    <div class="panel panel-default">
        <div class="panel-heading"
            ng-click='onMore("panelJobsDone")' 
            title="Complete or Failed jobs">
            <div class="row">
                <div class="col-sm-11">
                    <h3 class="panel-title">
                        Done 
                        <a href=https://github.com/firepick1/firenodejs/wiki/REST-firekue target=_blank>
                            <samp>/firekue</samp></a> 
                        ({{firekue.stats.complete + firekue.stats.failed}})
                    </h3> 
                </div><!--col-->
                <div class="col-sm-1" ng-show="firekue.stats.complete>0 || firekue.stats.failed>0">
                    <div class="fn-delall-container">
                        <div ng-click='firekue.delAllDone = true;$event.stopImmediatePropagation()' class="fn-delall"
                            ng-hide="firekue.delAllDone">
                            <span class="glyphicon glyphicon-remove "></span>
                        </div>
                    </div>
                    <div class="fn-delall-container">
                        <button class="btn btn-danger btn-xs" 
                            ng-show="firekue.delAllDone"
                            ng-click='firekue.deleteJobs({complete:true, failed:true});$event.stopImmediatePropagation()'>Delete All</button>
                        <button class="btn btn-default btn-xs" 
                            ng-show="firekue.delAllDone"
                            ng-click='firekue.delAllDone=false;$event.stopImmediatePropagation()'>Cancel</button>
                    </div>
                </div><!--col-->
            </div><!--row-->
        </div><!--panel heading-->
        <div class="panel-body" ng-if="flags.panelJobsDone">
            <div ng-repeat="dummyscope in [2]">
                <caption>complete:{{firekue.stats.complete}} failed:{{firekue.stats.failed}}</caption>
                <ng-include src="'partials/row-job.html'" 
                    onload="states={failed:'', complete:''}"></ng-include>
            </div>
        </div><!--panel-body-->
    </div><!--panel-->
</div><!--panel-group-->
