<!doctype html>
<html lang="en" ng-app="FireREST">
<head>
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FireREST&trade;</title>
  <link rel="stylesheet" href="../../css/firerest.css"/>
  <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css"/>
  <script src="../../lib/angular/angular.js"></script>
  <script src="../../lib/angular/angular-route.js"></script>
  <script src="../../lib/jquery/jquery-2.1.1.min.js"></script>
  <script src="../../js/assert.js"></script>
  <script src="../../js/app.js"></script>
  <script src="../../js/services.js"></script>
  <script src="../../js/SpiralIterator.js"></script>
  <script src="../../js/cv-service.js"></script>
  <script src="../../js/cnc-service.js"></script>
  <script src="controllers.js"></script>
  <script src="../../lib/bootstrap/js/ui-bootstrap-0.6.0.min.js"></script>
  <script src="../../lib/bootstrap/js/ui-bootstrap-tpls-0.6.0.min.js"></script>
</head>
<body ng-controller="MainCtrl as main">

<!-- ///////////// BEGIN APPLICATION CODE ///////////// -->

  <div ng-include src="'../../partials/banner.html'" onload="
      bannerTitle='Visual Calibration Endpoint (VCE) test page.\r(Requires FireREST-CNC and FireREST-CV)';
      bannerUrl='https://github.com/firepick1/FireREST/wiki/FireREST-VCAL';
      bannerName='Visual Calibration Service';
      bannerIcon='glyphicon-indent-left'">
  </div>

  <div class="container" >
    <div class="fr-banner-space">&nbsp;</div>

    <div ng-include src="'../../partials/service.html'"></div>
    <div ng-include src="'../../partials/monitor-only.html'"></div>

 <div ng-include src="'../../partials/dce-start.html'"></div>
 <div ng-include src="'../../partials/dce-move.html'"></div>
<div ng-if="cnc.controls.indexOf('home') >= 0" class="fr-row">
  <div class="row">
    <div class="fr-cell-btn col-md-1">
      <button title="{{cnc.resource_url('gcode.fire')}}" 
	type="button" class="btn {{cnc.resource_armed_class('home')}} btn-sm fr-post" 
	  ng-focus="cnc.on_focus('home','button')"; cnc.armed=null"
	  ng-blur="cnc.armed=null"
	  ng-click="cnc.resource_POST('gcode.fire', 'home')"
	  ng-dblclick="cnc.armed='home';cnc.resource_POST('gcode.fire', 'home')">
        <img src="../../img/crash-dummy.png" style="width:50%">
      </button>
      <div class="fr-confirm" ng-if="cnc.armed==='HOME'">Click again to send</div>
      <div class="fr-gcode" title="Seek limit switch home">{{cnc.gcode_home()}}</div>
    </div>
    <div ng-repeat="axis in cnc.dce.axes" class="fr-cell-data col-md-2">
      <form ng-if="axis.hasOwnProperty('home')" class="form-inline fr-form-inline">
	<div ng-if="cnc.edit_home" class="form-group">
	  <div class="input-group">
	    <div class="input-group-addon">{{axis.id}}</div>
	    <input class="form-control {{cnc.axis_class(axis,axis.home)}}" ng-focus="cnc.on_focus('home',axis.id)" ng-model="axis.home" 
	      type="number" step="{{axis.resolution}}">
	  </div>
	</div>
	<div ng-if="cnc.edit_home && cnc.is_focus('home',axis.id)" class="form-group fr-form-inline-group">
	  <button class="btn " ng-click="cnc.jog(axis,'home',-axis.jog)">-{{axis.jog}}</button> 
	  <button class="btn " ng-click="cnc.jog(axis,'home',axis.jog)">+{{axis.jog}}</button> 
	</div>
	<div ng-if="cnc.edit_home && cnc.is_focus('home',axis.id)" class="form-group fr-form-inline-group">
	  <div class="input-group">
	    <div class="input-group-addon">&#x00b1;{{axis.id}}</div>
	    <input class="form-control" ng-model="axis.jog" type="number" step="{{axis.resolution}}">
	  </div>
	</div>
	<div class="form-group fr-form-inline-group">
	  <div class="input-group">
	    <div class="checkbox">
	      <label>
		<input type="checkbox" ng-focus="cnc.on_focus('home',axis_id)" ng-model="axis.enabled"/> Home {{axis.id}}{{axis.home}}
	      </label>
	    </div>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>
 <div ng-include src="'../../partials/dce-gcode.html'"></div>
 <div ng-include src="'../../partials/dce-end.html'"></div>

<!-- ///////////// END APPLICATION CODE ///////////// -->
<div ng-include src="'../../partials/footer.html'"></div></body></html>
