body {
  max-width: 70em;
}
canvas { 
  width: 100%; 
  height: 100% 
}
p {
  max-width: 700px;
}
.alert {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin:0.1em;
}
.alerts-container {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.2em;
  background-color: #222;
  border-top-left-radius: 5px;
}
.fr-test-pass {
  color: #080;
}
.fr-test-fail {
  color: #a00;
}
.fr-test-tbd {
  color: #fff;
  background-color: #000;
}
.fr-collapsible {
  max-width: 800px;
  padding: 3px;
  padding-left: 10px;
  margin-bottom: 5px;
  border-left: 1pt solid #ddd;
  border-right: 3pt solid #ddd;
  border-bottom: 3pt solid #ddd;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.fr-more {
  cursor:pointer;
  color: #428bca;
}
.fr-button-valid-false{
  background-color: #f00 !important;
  border-color: #f00  !important;
}
.fr-button {
  min-width: 5em;
}
.fr-gcode {
  font-family: Impact, Charcoal, sans-serif ;
  font-size: 12px;
  color: #080 !important;
  cursor: default;
  text-align:right;
}
.fr-row-title {
  max-width: 65em;
  padding-top: 0.5em;
}
.fr-version:hover {
  color: #000;
}
.fr-axis-disabled {
  background-color: #aaa !important;
}
.fr-axis-error-min {
  color: red !important;
  border-bottom: 2pt solid red !important;
}
.fr-axis-error-max {
  color: red !important;
  border-top: 2pt solid red !important;
}
.fr-version {
  font-size: 8pt;
  top: 26px;
  text-align: center;
  color: #ccc;
}
.fr-inline-control {
}
.fr-prop-name {
  text-align: right;
}
.fr-service-info {
  font-size: 14px;
  font-family: Courier;
}
.fr-get {
  //margin-top: -2em;
  width: 6em;
}
.fr-post {
  margin-top: 0.3em;
  width: 6em;
}
.fr-enable {
  margin-left: 1em;
  color: #888 !important;
}
.fr-section-title {
  position: relative;
  font-size:18px;
  margin-top: 0.8em;
}
.fr-transmit {
  display: inline-block;
  font-size: 10pt;
  color: #eee;
  width:8px;
  padding:0;
  margin:2px;
}
.fr-transmit-on {
  color: #0f0;
}
.fr-transmit-idle {
  color: #080;
}
.fr-transmit-active {
  color: #8f8;
}
.fr-transmit-dead {
  color: #a00;
}
.fr-service {
  font-family: Courier;
}
.fr-body-text {
  font-size: 14px;
}
.fr-collapse {
  display: inline-block;
  margin-left: 0em;
}
.fr-collapse-icon {
  color: #888;
  font-size: 14pt;
}
.fr-collapse-btn {
  border: none !important;
}
.fr-help:hover {
  border: 1px solid #88f;
}
.fr-help {
  font-size: 14px;
  border-radius: 8px;
  background: #bbb;
  color: #fff;
  font-weight: 800;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin-bottom: 1em;
  cursor: help;
}
.fr-icon {
  position: fixed;
  top: 50px;
  right: 15px;
  font-size:40pt;
  color: rgba(0,0,0,0.2);
  z-index: -1;
}
.fr-content_source {
  color: #fa0;
}
.fr-tab-icon {
	font-size:10pt;
}
.fr-title-major{
  padding-top: .2em;
  cursor: pointer;
}
.fr-title-minor{
  font-size: 8pt;
  font-style: italic;
}
.fr-banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 49px;
  z-index: 99999999;
  background: #eee;
  padding-left: 1.0em;
}
.fr-banner-left {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
}
.fr-banner-logo {
  height: 2.1em;
  padding: 0.2em;
  padding-right: 0;
  display: inline-block;
}
.fr-banner-right {
  position: absolute;
  top: 7px;
  right: 10px;
}
.fr-banner-space {
  height: 3.5em;
}
.fr-banner-title {
  display: inline-block;
  color:#428bca;
  padding: 0;
  margin: 0;
  margin-top: 0.0em;
  margin-right: 1em;
}
.fr-row {
  position: relative;
  //border-bottom: 1pt solid #ddd;
  padding-bottom: 0.5em;
}
.fr-row:last-of-type {
  position: relative;
  border-bottom: none;
}
.fr-cell-data {
  display: inline-block;
}
.fr-cell-btn {
  display: inline-block;
  text-align: left;
}
.fr-img-sm{
  min-height:50px !important;
  max-height:75px !important;
}
.fr-img-md {
  min-height:75px; !important;
  max-height:150px; !important;
}
.fr-img-lg {
  height:200% !important;
  width: 200% !important;
  max-width: 200% !important;
}
.fr-control-label {
  font-weight: bold;
}
.fr-form-inline {
  margin-top: 0.25em;
}
.fr-form-inline-group {
  margin-top: 0.25em;
  margin-left: 1.5em;
}
.fr-confirm{
  z-index: 99999;
  position: relative;
  width: 12em;
  background-color: #ffa;
  padding-left: 0.5em;
  margin-top: 2px;
  border: 1px solid #aaa;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.fr-nav-dismiss {
  background-color: rgba(128,128,128,.5);
  position: fixed;
  top: 46px;
  left: 0;
  width: 150%;
  height: 150%;
  z-index: -1;
}
.fr-nav-menu li:hover {
  font-weight: bold;
}
.fr-nav-menu li {
}
.fr-nav-menu {
  display:none;
  float: left;
  font-size: 12pt ;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 2px solid #888;
  border-bottom: 2px solid #888;
  padding: 5px;
  background: #ccc;
  min-width: 25em;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.fr-navbar {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  background:#ccc;
  border:0;
}
.fr-navbar-active {
  background:#fff;
}
.fr-postdata {
  min-width:25em;
  min-height:2.2em;
  margin-top: 0.3em;
  padding:2px;
}
.fr-postdata-ok {
  color: #888 !important;
}
.fr-postdata-err {
  background: #fee !important;
  color: #800;
}
.fr-data-label {
  margin-top: 0.6em;
  font-family: Courier;
  display:block;
  text-align: left;
}
.fr-data {
  position: relative;
}
.fr-form {
  padding-bottom: 1em;
}
.fr-viewport {
}
.progress {
	margin-top:0.9em;
	margin-bottom:0;
	border-radius:0;
	border-top: 1pt solid #aaa;
	border-bottom: 1pt solid #aaa;
}

@media all and (max-width: 800px) {
  .fr-hide800{
    display: none;
  }
}
@media all and (max-width: 600px) {
  .fr-hide600{
    display: none;
  }
}
